flows/Allocate_Market_Development_Funds.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_for_existing_Partner_Marketing_Budget</name>
        <label>Check for existing Partner Marketing Budget</label>
        <locationX>398</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Get_Member_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>budgetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Marketing_Budget</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_partner_fund_allocation_exists</name>
        <label>Check if partner fund allocation exists</label>
        <locationX>1121</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Fund_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allocation Exist</defaultConnectorLabel>
        <rules>
            <name>Allocation_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Fund_Allocation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Fund_Allocation</targetReference>
            </connector>
            <label>Allocation Does Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Allocate Market Development Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Market Development Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Partner_Fund_Allocation</name>
        <label>Create Partner Fund Allocation</label>
        <locationX>1308</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Update_Member_Benefit_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Member_Benefit.Benefit.Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetId</field>
            <value>
                <elementReference>budgetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChannelPartnerId</field>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Partner Fund Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>PartnerFundAllocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Marketing_Budget</name>
        <label>Create Partner Marketing Budget</label>
        <locationX>719</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>budgetId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Member_Benefit</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>1000000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Partner Extra Marketing Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Marketing Funds</stringValue>
            </value>
        </inputAssignments>
        <object>PartnerMarketingBudget</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>742</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Fund_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Benefit.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Benefit</name>
        <label>Get Member Benefit</label>
        <locationX>589</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Fund_Allocation</name>
        <label>Get Partner Fund Allocation</label>
        <locationX>922</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_partner_fund_allocation_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelPartnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budgetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerFundAllocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Marketing_Budget</name>
        <label>Get Partner Marketing Budget</label>
        <locationX>405</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_Partner_Marketing_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Extra Marketing Budget</stringValue>
            </value>
        </filters>
        <object>PartnerMarketingBudget</object>
        <outputAssignments>
            <assignToReference>budgetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_Benefit_Record</name>
        <label>Update Member Benefit Record</label>
        <locationX>1309</locationX>
        <locationY>287</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryRefObjectRecord</field>
            <value>
                <elementReference>Create_Partner_Fund_Allocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryRefObjectRecordTitle</field>
            <value>
                <stringValue>Partner Fund Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Fund_Allocation</name>
        <label>Update Partner Fund Allocation</label>
        <locationX>1131</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelPartnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BudgetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>budgetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Member_Benefit.Benefit.Value</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerFundAllocation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Partner_Marketing_Budget</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>budgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
