flows/Assess_and_Update_Member_Tier.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Tier_to_Gold</name>
        <label>Change Tier to Gold</label>
        <locationX>1947</locationX>
        <locationY>945</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.LoyaltyProgramMember__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Status Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_Tier_to_Platinum</name>
        <label>Change Tier to Platinum</label>
        <locationX>1785</locationX>
        <locationY>1092</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.LoyaltyProgramMember__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Status Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Change_Tier_to_Silver</name>
        <label>Change Tier to Silver</label>
        <locationX>1723</locationX>
        <locationY>654</locationY>
        <actionName>changeTier</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ChangeReason</name>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.LoyaltyProgramMember__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Status Tier Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>changeTier</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Target_Member_Tier</name>
        <label>Evaluate Target Member Tier</label>
        <locationX>304</locationX>
        <locationY>915</locationY>
        <actionName>Evaluate_Target_Member_Tier_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Tier_Assessment_Matched</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BrandingPercentage__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.BrandingPercentage__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PartnershipYears__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.PartnershipYears__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>QuarterlyConferenceAttended__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.QuarterlyConferenceAttended__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesAcrossAllChannel__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.AggregateTransactionAmountTillDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TeamTrainedPercentage__c</name>
            <value>
                <elementReference>Get_Tier_Assessment_Member.TeamTrainedPercentage__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Evaluate_Target_Member_Tier_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Higher_Tier</name>
        <label>Assign Higher Tier</label>
        <locationX>870</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>MatchedRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_matched_rules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_matched_rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tier_Assessment_Status_to_Processed</name>
        <label>Set Tier Assessment Status to Processed</label>
        <locationX>433</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>Get_Tier_Assessment_Member.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_of_Tier_Assessment_Member_to_Proccessed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Rule_Matched_Assignment</name>
        <label>Single Rule Matched Assignment</label>
        <locationX>421</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>MatchedRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_Target_Member_Tier.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllMatchedRules</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluate_Target_Member_Tier.outcomeList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_matched_rules</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assessment_Type</name>
        <label>Check Assessment Type</label>
        <locationX>918</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tier_Assessment_Member.AssessmentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expire Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Outcome_Tier</targetReference>
            </connector>
            <label>Expire Tier</label>
        </rules>
        <rules>
            <name>Upgrade_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tier_Assessment_Member.AssessmentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_Tier_and_Outcome</targetReference>
            </connector>
            <label>Upgrade Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Tier_and_Outcome</name>
        <label>Check Current Tier and Outcome</label>
        <locationX>1441</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_tier_is_less_than_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tier_Assessment_Member.SequenceNumber__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MatchedRule.SequenceNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Outcome_Tier</targetReference>
            </connector>
            <label>Current tier is less than outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Outcome_Tier</name>
        <label>Check Outcome Tier</label>
        <locationX>1373</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedRule.LoyaltyTierName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Tier_to_Silver</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedRule.LoyaltyTierName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Tier_to_Gold</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Platinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedRule.LoyaltyTierName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Tier_to_Platinum</targetReference>
            </connector>
            <label>Platinum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Higher_Tier</name>
        <label>Find Higher Tier</label>
        <locationX>1178</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Loop_over_matched_rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_tier_is_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_matched_rules.SequenceNumber__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MatchedRule.SequenceNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Higher_Tier</targetReference>
            </connector>
            <label>Current tier is greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Assessment_Matched</name>
        <label>Tier Assessment Matched</label>
        <locationX>415</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_Assessment_Status_to_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.outcomeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Rule_Matched_Assignment</targetReference>
            </connector>
            <label>Any Match</label>
        </rules>
        <rules>
            <name>No_Match_And_Tier_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Target_Member_Tier.outcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Tier_Assessment_Member.AssessmentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expire Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Tier_to_Silver</targetReference>
            </connector>
            <label>No Match And Tier Expired</label>
        </rules>
    </decisions>
    <description>Updates members’ tiers based on the tier update criteria.</description>
    <interviewLabel>Assess and Update Member Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assess and Update Member Tier</label>
    <loops>
        <name>Loop_over_matched_rules</name>
        <label>Loop over matched rules</label>
        <locationX>665</locationX>
        <locationY>243</locationY>
        <collectionReference>AllMatchedRules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Higher_Tier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Assessment_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tier_Assessment_Member</name>
        <label>Get Tier Assessment Member</label>
        <locationX>176</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Target_Member_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TierAssessmentMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TierAssessmentMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_Tier_Assessment_Member_to_Proccessed</name>
        <label>Update Status of Tier Assessment Member to Proccessed</label>
        <locationX>1330</locationX>
        <locationY>1140</locationY>
        <inputReference>Get_Tier_Assessment_Member</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Get_Tier_Assessment_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllMatchedRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TierAssessmentRule__c</objectType>
    </variables>
    <variables>
        <name>MatchedRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TierAssessmentRule__c</objectType>
    </variables>
    <variables>
        <name>MatchedRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TierAssessmentRule__c</objectType>
    </variables>
    <variables>
        <name>TierAssessmentMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
