flows/Assign_Premium_Support_Entitlement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Member_Benefit_Status</name>
        <label>Member Benefit Status</label>
        <locationX>578</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Benefit.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewPendingProcessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Premium_Support_Entitlement</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Benefit.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdatedPendingProcessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Benefit.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExpiredPendingProcessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Entitlement</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Premium Support Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Premium Support Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Premium_Support_Entitlement</name>
        <label>Assign Premium Support Entitlement</label>
        <locationX>904</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Member_Benefit_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Member_Benefit.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Premium Support Entitlement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_Member_Benefit.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Priority Phone Support</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>498</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Benefit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Benefit.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Benefit</name>
        <label>Get Member Benefit</label>
        <locationX>435</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entitlement</name>
        <label>Update Entitlement</label>
        <locationX>901</locationX>
        <locationY>213</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Benefit.PrimaryRefObjectRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_Member_Benefit.EndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Benefit_Record</name>
        <label>Update Member Benefit Record</label>
        <locationX>1107</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryRefObjectRecord</field>
            <value>
                <elementReference>Create_Premium_Support_Entitlement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryRefObjectRecordTitle</field>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Member_Benefit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MemberBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
