flows/B2B_Commerce_Product_Inventory_Zero.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Order_Id</name>
        <label>Set Order Id</label>
        <locationX>18</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Quantity_Available</name>
        <label>Total Quantity Available</label>
        <locationX>443</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>TotalInventory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInventoryRecord.ccrz__QtyAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Product_Object</name>
        <label>Update Product Object</label>
        <locationX>448</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>CurrentProduct.ccrz__AvailabilityMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Out Of Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentProduct.ccrz__ProductStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Orderable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Total_Quantity</name>
        <label>Check For Total Quantity</label>
        <locationX>184</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Less_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalInventory</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Object</targetReference>
            </connector>
            <label>Quantity Less Than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inventory_Quantity</name>
        <label>Check Inventory Quantity</label>
        <locationX>183</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleInventoryRecord.ccrz__QtyAvailable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Quantity_Available</targetReference>
            </connector>
            <label>Quantity Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order</name>
        <label>Check Order</label>
        <locationX>196</locationX>
        <locationY>1087</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Order_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Check Order Is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>B2B Commerce Product Inventory Zero {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Commerce Product Inventory Zero</label>
    <loops>
        <name>Loop_Through_Inventory</name>
        <label>Loop Through Inventory</label>
        <locationX>193</locationX>
        <locationY>324</locationY>
        <assignNextValueToReference>SingleInventoryRecord</assignNextValueToReference>
        <collectionReference>InventoryObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Inventory_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_Total_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Order_Items</name>
        <label>Loop Through Order Items</label>
        <locationX>206</locationX>
        <locationY>873</locationY>
        <assignNextValueToReference>SingleOrderItem</assignNextValueToReference>
        <collectionReference>OrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>205</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProductID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>OrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>17</locationX>
        <locationY>1085</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleOrderID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2020-01-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>SingleOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>50</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProductID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>CurrentProduct</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Inventory</name>
        <label>Get Product Inventory</label>
        <locationX>50</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__ProductItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProductID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_ProductInventoryItem__c</object>
        <outputReference>InventoryObjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__QtyAvailable__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>438</locationX>
        <locationY>977</locationY>
        <connector>
            <targetReference>Loop_Through_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <stringValue>Back Order</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Record</name>
        <label>Update Product Record</label>
        <locationX>448</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <inputReference>CurrentProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>CurrentProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InventoryObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_ProductInventoryItem__c</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>SingleInventoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_ProductInventoryItem__c</objectType>
    </variables>
    <variables>
        <name>SingleOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>SingleOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>TotalInventory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
