flows/Check_and_Credit_Bonus_Points.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Points</name>
        <label>Credit Points</label>
        <locationX>550</locationX>
        <locationY>285</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>TransactionJournalRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>TransactionJournalRecord.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>BonusPoints</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>Rewards 50% more points to a transaction if the Product Category is &quot;Accessories&quot; and the Activity date is between Sep 1, 2020 and Dec 31, 2020</description>
        <name>Check_Bonus_Points</name>
        <label>Check Bonus Points</label>
        <locationX>168</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>Bonus Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>Bonus_Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionJournalRecord.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2021-01-01T08:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransactionJournalRecord.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2021-12-31T08:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransactionJournalRecord.ProductCategory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points</targetReference>
            </connector>
            <label>Bonus Criteria Met</label>
        </rules>
    </decisions>
    <formulas>
        <name>BonusPoints</name>
        <dataType>Number</dataType>
        <expression>{!TotalPoint}*0.5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Check and Credit Bonus Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check and Credit Bonus Points</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Bonus_Points</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalPoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TransactionJournalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
