flows/Clone_Sales_Agreement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>redirect_to_new_SA</name>
        <label>redirect to new SA</label>
        <locationX>1050</locationX>
        <locationY>745</locationY>
        <actionName>c:redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>txtNewSA_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Upate_Qty_spread</name>
        <label>Upate Qty spread</label>
        <locationX>1245</locationX>
        <locationY>557</locationY>
        <actionName>CloneSalesAgreement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Expire_Previous_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newSAId</name>
            <value>
                <elementReference>txtNewSA_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldSAId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneSalesAgreement</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>288</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>NewSAPCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewSAPSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSAProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewSAP</name>
        <label>AssignNewSAP</label>
        <locationX>514</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>NewSAPSingle.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looprecord.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSAPSingle.InitialPlannedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looprecord.InitialPlannedQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSAPSingle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looprecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSAPSingle.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looprecord.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSAPSingle.SalesAgreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNewSA_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSAPSingle.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looprecord.SalesPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultFrequencyChoice</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schedule_Count</name>
        <choiceText>1&lt;p&gt;2&lt;/p&gt;&lt;p&gt;3&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <description>Clone Planned Qty adjustments in the Schedule Periods</description>
        <name>Clone_with_Adjusted_Quantities</name>
        <label>Clone with Adjusted Quantities</label>
        <locationX>915</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_with_Adjusted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upate_Qty_spread</targetReference>
            </connector>
            <label>Clone with Adjusted</label>
        </rules>
        <rules>
            <name>Clone_Products_with_Initial_Qty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_Previous_Agreement</targetReference>
            </connector>
            <label>Clone Products with Initial Qty</label>
        </rules>
    </decisions>
    <decisions>
        <description>If clone with adjusted is selected , keep default schedule count  and frequency of Original Agreement</description>
        <name>Cloned_With_Adjusted_Sales_Agreement</name>
        <label>Cloned With Adjusted Sales Agreement</label>
        <locationX>904</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_With_Adjusted_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SA_with_Adjusted</targetReference>
            </connector>
            <label>Clone With Adjusted Schedule</label>
        </rules>
        <rules>
            <name>Clone_without_Adjusted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_SA</targetReference>
            </connector>
            <label>Clone without Adjusted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expire_Previous_Agreement</name>
        <label>Cancel Previous Agreement</label>
        <locationX>923</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>redirect_to_new_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Cancel</defaultConnectorLabel>
        <rules>
            <name>Decision_to_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_Previous_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Previous_SA</targetReference>
            </connector>
            <label>Decision to Cancel</label>
        </rules>
    </decisions>
    <description>Clone Sales Agreement with Products - With or Without Adjusted Planned Quantities</description>
    <dynamicChoiceSets>
        <name>getListofUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SA_Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SalesAgreementProduct</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_ActualsCalculationMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActualsCalculationMode</picklistField>
        <picklistObject>SalesAgreement</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varScheduleFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ScheduleFrequency</picklistField>
        <picklistObject>SalesAgreement</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CalculateVersion</name>
        <dataType>Number</dataType>
        <expression>{!getSAR.Cloned_Versions__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>get current user</description>
        <name>Currentuser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id} + {!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>URLofNewAgreement</name>
        <dataType>String</dataType>
        <expression>&apos;lightning/r/&apos;+{!txtNewSA_Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Clone Sales Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Sales Agreement</label>
    <loops>
        <name>loopSAProducts</name>
        <label>loopSAProducts</label>
        <locationX>507</locationX>
        <locationY>491</locationY>
        <assignNextValueToReference>looprecord</assignNextValueToReference>
        <collectionReference>getSAProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewSAP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createSAProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_SA</name>
        <label>create_SA</label>
        <locationX>790</locationX>
        <locationY>196</locationY>
        <assignRecordIdToReference>txtNewSA_Id</assignRecordIdToReference>
        <connector>
            <targetReference>getSAProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getSAR.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualsCalculationMode</field>
            <value>
                <elementReference>Actuals_Calculation_Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloned_Versions__c</field>
            <value>
                <elementReference>CalculateVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sales_Agreement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getSAR.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookId</field>
            <value>
                <elementReference>getSAR.PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleCount</field>
            <value>
                <elementReference>Schedule_Cnt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleFrequency</field>
            <value>
                <elementReference>Schedule_Frequency_pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>New_Agreement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_with_Adjusted</name>
        <label>Create SA with Adjusted</label>
        <locationX>1189</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>txtNewSA_Id</assignRecordIdToReference>
        <connector>
            <targetReference>getSAProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getSAR.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualsCalculationMode</field>
            <value>
                <elementReference>getSAR.ActualsCalculationMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloned_Versions__c</field>
            <value>
                <elementReference>CalculateVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sales_Agreement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getSAR.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookId</field>
            <value>
                <elementReference>getSAR.PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleCount</field>
            <value>
                <elementReference>getSAR.ScheduleCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleFrequency</field>
            <value>
                <elementReference>getSAR.ScheduleFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>getSAR.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
    </recordCreates>
    <recordCreates>
        <name>createSAProduct</name>
        <label>createSAProduct</label>
        <locationX>781</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Clone_with_Adjusted_Quantities</targetReference>
        </connector>
        <inputReference>NewSAPCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getSAProducts</name>
        <label>getSAProducts</label>
        <locationX>556</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSAProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>InitialPlannedQuantity</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>SalesAgreementId</queriedFields>
        <queriedFields>SalesPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSAR</name>
        <label>getSAR</label>
        <locationX>411</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Agreement_Clone_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>PricebookId</queriedFields>
        <queriedFields>ScheduleCount</queriedFields>
        <queriedFields>ScheduleFrequency</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualsCalculationMode</queriedFields>
        <queriedFields>Cloned_Versions__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Previous_SA</name>
        <label>Cancel Previous SA</label>
        <locationX>726</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>redirect_to_new_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
    </recordUpdates>
    <screens>
        <name>Sales_Agreement_Clone_Details</name>
        <label>Sales Agreement Clone Details</label>
        <locationX>543</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cloned_With_Adjusted_Sales_Agreement</targetReference>
        </connector>
        <fields>
            <name>Clone_Display_text_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Sales Agreement Clone Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This Cloning process has two outcomes for Sales Agreements:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Cloned with Adjusted Product Planned Quantities = &lt;b&gt;Checked&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Cloned with Initial Planned Quantities = &lt;b&gt;UnChecked&lt;/b&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;If the first option is selected &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cloned with Adjusted&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&quot; - All Fields and Products from the previous Sales Agreement will be carried to the Clone retaining the adjusted planned quantities&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the second option is selected &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cloned with Initial&quot;  - &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Sales Agreement Name, Start Date, Frequency, and Count can configured. All products will be cloned with their initial quantities and evenly spread over the schedule&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Clone Agreement with Current Adjusted Plan Quantities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancel_Previous_Agreement</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancel Previous Agreement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getSAR.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sales_Agreement_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getSAR.Name</elementReference>
            </defaultValue>
            <fieldText>New Sales Agreement Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Name Example: &lt;/p&gt;&lt;p&gt;{!getSAR.Account.Name}_{!$Flow.CurrentDate}_{!getSAR.ScheduleFrequency}_{!getSAR.ScheduleCount}&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Agreement_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>New Agreement Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Schedule_Frequency_pick</name>
            <choiceReferences>varScheduleFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Schedule_Cnt</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getSAR.ScheduleCount</elementReference>
            </defaultValue>
            <fieldText>Schedule Count</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Schedule can be  a count from 1 - 18&lt;/p&gt;&lt;p&gt;(18 Maximum)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Frequency must be between 1 and 18. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!Schedule_Cnt}&lt;19</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Actuals_Calculation_Mode</name>
            <choiceReferences>var_ActualsCalculationMode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Actuals Calculation Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Clone_Agreement_with_Current_Adjusted_Plan_Quantities</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>71</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>getSAR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>looprecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>NewSAPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>NewSAPSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>OrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Original_SA_ScheduleFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Original_SA_StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSaProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>setStatusExpired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>expired</stringValue>
        </value>
    </variables>
    <variables>
        <name>txtAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAgreementDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtAssignmentOfSAProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtNewSA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtPriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
