flows/Create_Sales_Agreement_from_Oppty.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_new_Sales_Agreement</name>
        <label>Open new Sales Agreement</label>
        <locationX>962</locationX>
        <locationY>399</locationY>
        <actionName>c:OpenSObject_copy</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Create_new_Sales_Agreement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject_copy</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_SA_Prod_to_List</name>
        <label>Add SA Prod to List</label>
        <locationX>759</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>recsSAProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSAProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSAProduct.ProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_SA_Product</name>
        <label>Set new SA Product</label>
        <locationX>357</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>loopSAProduct.InitialPlannedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpptyProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpptyProduct.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpptyProduct.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpptyProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.SalesAgreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_Sales_Agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSAProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpptyProduct.Product_Name_formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dupe_check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>defaultFrequencyChoice</name>
        <choiceText>{!defaultScheduleFrequency.Label}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultScheduleFrequency.Value</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Dupe_check</name>
        <label>Dupe check</label>
        <locationX>349</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Add_SA_Prod_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ocular patdown complete</defaultConnectorLabel>
        <rules>
            <name>Dupe_product_ID_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopSAProduct.ProductId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opportunity_Products</targetReference>
            </connector>
            <label>Dupe product ID found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>frequencies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ScheduleFrequency</picklistField>
        <picklistObject>SalesAgreement</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opptyLineItemChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Product_Name_formula__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scheduleFrequencyOptionDefault</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesAgreement.ScheduleFrequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDefaultValue</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>selectedFrequency</assignToReference>
            <field>Value</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scheduleFrequencyOptions</name>
        <dataType>String</dataType>
        <displayField>Value</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesAgreement.ScheduleFrequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>defaultScheduleFrequency.Value</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>selectedFrequency</assignToReference>
            <field>Value</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>*Create Sales Agreement from Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Create Sales Agreement from Oppty</label>
    <loops>
        <name>Loop_through_Opportunity_Products</name>
        <label>Loop through Opportunity Products</label>
        <locationX>759</locationX>
        <locationY>250</locationY>
        <assignNextValueToReference>loopOpptyProduct</assignNextValueToReference>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_SA_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SA_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Sales_Agreement</name>
        <label>Create new Sales Agreement</label>
        <locationX>759</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sales_Agreement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookId</field>
            <value>
                <elementReference>pricebook.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleCount</field>
            <value>
                <elementReference>Schedule_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleFrequency</field>
            <value>
                <elementReference>Schedule_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_SA_Products</name>
        <label>Insert SA Products</label>
        <locationX>962</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Open_new_Sales_Agreement</targetReference>
        </connector>
        <inputReference>recsSAProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>defaultScheduleFrequency</name>
        <label>defaultScheduleFrequency</label>
        <locationX>458</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Sales_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesAgreement.ScheduleFrequency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>defaultScheduleFrequency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Sales_Agreement</name>
        <label>New Sales Agreement</label>
        <locationX>614</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_Sales_Agreement</targetReference>
        </connector>
        <fields>
            <name>Sales_Agreement_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!Get_Opportunity.Name} Sales Agreement</stringValue>
            </defaultValue>
            <fieldText>Sales Agreement Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Schedule_Frequency</name>
            <choiceReferences>defaultFrequencyChoice</choiceReferences>
            <choiceReferences>scheduleFrequencyOptions</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultFrequencyChoice</defaultSelectedChoiceReference>
            <fieldText>Schedule Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Schedule_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Schedule Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>pricebook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pricebook2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Price Book</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopOpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>loopSAProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <description>Used to check for duplicate product line items, as this is possible on Opportunities but will throw an error on Sales Agreements</description>
        <name>productIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0065w000023i4WBAAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>recsSAProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
    <variables>
        <name>selectedFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
