flows/Create_Voucher_Code_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Counter_and_Index</name>
        <label>Add Counter and Index</label>
        <locationX>664</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Starting_Number_to_Counter</name>
        <label>Assign Starting Number to Counter</label>
        <locationX>663</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VoucherDefinitionId.StartingVoucherNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Index</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Index</name>
        <label>Check Index</label>
        <locationX>656</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Update_Starting_Voucher_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Index &gt;= Number of Codes</defaultConnectorLabel>
        <rules>
            <name>Index_Number_of_Codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Index</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberOfCodes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Voucher_Code_Records</targetReference>
            </connector>
            <label>Index &lt; Number of Codes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Voucher Code Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Voucher Code Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Voucher_Code_Records</name>
        <label>Create Voucher Code Records</label>
        <locationX>459</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>Add_Counter_and_Index</targetReference>
        </connector>
        <inputAssignments>
            <field>SequentialCounterNumber__c</field>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherCodeStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherCodeType__c</field>
            <value>
                <stringValue>Voucher Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherDefinitionId__c</field>
            <value>
                <elementReference>VoucherDefinitionId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoucherCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Starting_Voucher_Number</name>
        <label>Update Starting Voucher Number</label>
        <locationX>984</locationX>
        <locationY>324</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoucherDefinitionId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartingVoucherNumber__c</field>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </inputAssignments>
        <object>VoucherDefinition</object>
    </recordUpdates>
    <start>
        <locationX>537</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Starting_Number_to_Counter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfCodes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VoucherDefinitionId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
</Flow>
