flows/CreateTransactionJournalOnMemberEnrolment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CheckSeedData</name>
        <label>CheckSeedData</label>
        <locationX>526</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotSeedData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SeedData__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetJournalSubType</targetReference>
            </connector>
            <label>NotSeedData</label>
        </rules>
    </decisions>
    <interviewLabel>CreateTransactionJournalOnMemberEnrolment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateTransactionJournalOnMemberEnrolment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTJ</name>
        <label>CreateTJ</label>
        <locationX>1042</locationX>
        <locationY>138</locationY>
        <inputAssignments>
            <field>ActivityCategory__c</field>
            <value>
                <stringValue>Member activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityName__c</field>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>GetJournalSubType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>GetJournalSubType.JournalTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>$Record.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetJournalSubType</name>
        <label>GetJournalSubType</label>
        <locationX>767</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckSeedData</targetReference>
        </connector>
        <object>LoyaltyProgramMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
