flows/Credit_Points_to_Members.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Accrual_Type</name>
        <label>Accrual Type</label>
        <locationX>405</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Mark_Transaction_Journal_As_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Accrual Rule Found</defaultConnectorLabel>
        <rules>
            <name>Activity_Based</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Transaction_Journal_Record.JournalSubType.RuleType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points_Based_on_Activity</targetReference>
            </connector>
            <label>Activity Based</label>
        </rules>
        <rules>
            <name>Product_Based</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Transaction_Journal_Record.JournalSubType.RuleType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points_Based_on_Product_and_Member_Tier</targetReference>
            </connector>
            <label>Product Based</label>
        </rules>
    </decisions>
    <description>Credit points to members based on each member’s transaction type.</description>
    <interviewLabel>Credit Points to Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Points to Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Customer_Transaction_Journal_Record</name>
        <label>Customer Transaction Journal Record</label>
        <locationX>176</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accrual_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transactionJournalId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Transaction_Journal_As_Processed</name>
        <label>Mark Transaction Journal As Processed</label>
        <locationX>765</locationX>
        <locationY>283</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_Transaction_Journal_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Transaction_Journal_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Credit_Points_Based_on_Activity</name>
        <label>Credit Points Based on Activity</label>
        <locationX>764</locationX>
        <locationY>131</locationY>
        <flowName>Credit_Points_Based_on_Activity</flowName>
        <inputAssignments>
            <name>TransactionJournal</name>
            <value>
                <elementReference>Customer_Transaction_Journal_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Credit_Points_Based_on_Product_and_Member_Tier</name>
        <label>Credit Points Based on Product and Member Tier</label>
        <locationX>764</locationX>
        <locationY>424</locationY>
        <flowName>Credit_Points_Based_on_Product_and_Member_Tier</flowName>
        <inputAssignments>
            <name>TransactionJournalRecord</name>
            <value>
                <elementReference>Customer_Transaction_Journal_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>transactionJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
