flows/Credit_Points_Based_on_Product_and_Member_Tier.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Points_based_on_Invoice_Amount</name>
        <label>Credit Points based on Invoice Amount</label>
        <locationX>524</locationX>
        <locationY>644</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Credit_Bonus_Points_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>TransactionJournalRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>TransactionJournalRecord.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>TotalPointsByInvoicePrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Points_based_on_Product_Quantity</name>
        <label>Credit Points based on Product Quantity</label>
        <locationX>514</locationX>
        <locationY>234</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Credit_Bonus_Points</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>TransactionJournalRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>TransactionJournalRecord.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>TotalPointsByProductQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Accrual_Rule</name>
        <label>Evaluate Accrual Rule</label>
        <locationX>161</locationX>
        <locationY>441</locationY>
        <actionName>Calculate_Points_Awarded_Based_on_Product_and_Tier_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Accrual_Rule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyTier__c</name>
            <value>
                <elementReference>Member_s_Loyalty_Tier.LoyaltyTierId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MaximumPrice__c</name>
            <value>
                <elementReference>TransactionJournalRecord.TransactionAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MaximumQuantity__c</name>
            <value>
                <elementReference>TransactionJournalRecord.Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MinimumPrice__c</name>
            <value>
                <elementReference>TransactionJournalRecord.TransactionAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MinimumQuantity__c</name>
            <value>
                <elementReference>TransactionJournalRecord.Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Product__c</name>
            <value>
                <elementReference>TransactionJournalRecord.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductCategory__c</name>
            <value>
                <elementReference>TransactionJournalRecord.ProductCategory.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Calculate_Points_Awarded_Based_on_Product_and_Tier_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Accrual_Rule</name>
        <label>Accrual Rule</label>
        <locationX>394</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Mark_Transaction_As_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Accrual Rule Match</defaultConnectorLabel>
        <rules>
            <name>Product_Quantity_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Accrual_Rule.outcomeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluate_Accrual_Rule.singleOutcome.AccruePointsBasedOn__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Quantity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points_based_on_Product_Quantity</targetReference>
            </connector>
            <label>Product Quantity Based</label>
        </rules>
        <rules>
            <name>Invoice_Price_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluate_Accrual_Rule.outcomeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluate_Accrual_Rule.singleOutcome.AccruePointsBasedOn__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points_based_on_Invoice_Amount</targetReference>
            </connector>
            <label>Invoice Price Based</label>
        </rules>
    </decisions>
    <description>Credit points to members for each product purchase based on the member tier.</description>
    <formulas>
        <name>TotalPointsByInvoicePrice</name>
        <dataType>Number</dataType>
        <expression>{!TransactionJournalRecord.TransactionAmount}*{!Evaluate_Accrual_Rule.singleOutcome.Accrued_Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPointsByProductQuantity</name>
        <dataType>Number</dataType>
        <expression>{!TransactionJournalRecord.Quantity}*{!Evaluate_Accrual_Rule.singleOutcome.Accrued_Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Credit Points Based on Product and Member Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Points Based on Product and Member Tier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Member_s_Loyalty_Tier</name>
        <label>Member&apos;s Loyalty Tier</label>
        <locationX>161</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Accrual_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionJournalRecord.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Transaction_As_Processed</name>
        <label>Mark Transaction As Processed</label>
        <locationX>812</locationX>
        <locationY>438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionJournalRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <start>
        <locationX>35</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Member_s_Loyalty_Tier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Credit_Bonus_Points</name>
        <label>Credit Bonus Points</label>
        <locationX>799</locationX>
        <locationY>234</locationY>
        <flowName>Check_and_Credit_Bonus_Points</flowName>
        <inputAssignments>
            <name>TotalPoint</name>
            <value>
                <elementReference>TotalPointsByProductQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionJournalRecord</name>
            <value>
                <elementReference>TransactionJournalRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Credit_Bonus_Points_0</name>
        <label>Credit Bonus Points</label>
        <locationX>814</locationX>
        <locationY>644</locationY>
        <flowName>Check_and_Credit_Bonus_Points</flowName>
        <inputAssignments>
            <name>TotalPoint</name>
            <value>
                <elementReference>TotalPointsByInvoicePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TransactionJournalRecord</name>
            <value>
                <elementReference>TransactionJournalRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>TransactionJournalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
