flows/Credit_Points_Based_on_Activity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Points_to_Credit_Based_on_Activity</name>
        <label>Calculate Points to Credit Based on Activity</label>
        <locationX>428</locationX>
        <locationY>296</locationY>
        <actionName>Calculate_Points_to_Credit_Based_on_Activity_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Accrual_Rule_Exist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActivityCategory__c</name>
            <value>
                <elementReference>TransactionJournal.ActivityCategory__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JournalSubType__c</name>
            <value>
                <elementReference>TransactionJournal.JournalSubTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>TransactionJournal.ActivityName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Calculate_Points_to_Credit_Based_on_Activity_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Credit_Points</name>
        <label>Credit Points</label>
        <locationX>942</locationX>
        <locationY>425</locationY>
        <actionName>creditPoints</actionName>
        <actionType>creditPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AdditionalNotes</name>
        </inputParameters>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>TransactionJournal.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>TransactionJournal.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Calculate_Points_to_Credit_Based_on_Activity.singleOutcome.PointsAccrued__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>creditPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>NoMatch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Match</stringValue>
        </value>
    </constants>
    <constants>
        <name>SingleMatch</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Accrual_Rule_Exist</name>
        <label>Accrual Rule Exist</label>
        <locationX>623</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Mark_Transaction_Journal_As_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Accrual Rule Match</defaultConnectorLabel>
        <rules>
            <name>Activity_Based_Rule_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Points_to_Credit_Based_on_Activity.outcomeType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Points</targetReference>
            </connector>
            <label>Activity Based Rule Exist</label>
        </rules>
    </decisions>
    <description>Credit points to members based on their activities.</description>
    <interviewLabel>Allocate Points Awarded Based on Product and Member Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Points Based on Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Transaction_Journal_As_Processed</name>
        <label>Mark Transaction Journal As Processed</label>
        <locationX>935</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionJournal.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Calculate_Points_to_Credit_Based_on_Activity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TransactionJournal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
