flows/Deduct_Points_Based_on_Product_and_Vouchers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debit_Points</name>
        <label>Debit Points</label>
        <locationX>772</locationX>
        <locationY>487</locationY>
        <actionName>debitPoints</actionName>
        <actionType>debitPoints</actionType>
        <connector>
            <targetReference>Does_Voucher_Needs_to_be_Issued</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>Get_Points_to_Debit_For_Debit_Points.singleOutcome.Points__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>debitPoints</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Balance_after_Debit_Points</name>
        <label>Get Balance after Debit Points</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <actionName>getPointsBalance</actionName>
        <actionType>getPointsBalance</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getPointsBalance</nameSegment>
        <outputParameters>
            <assignToReference>NewPointsBalance</assignToReference>
            <name>PointsBalance</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Member_Points_Balance</name>
        <label>Get Member Points Balance</label>
        <locationX>722</locationX>
        <locationY>334</locationY>
        <actionName>getPointsBalance</actionName>
        <actionType>getPointsBalance</actionType>
        <connector>
            <targetReference>Does_Redemption_Rule_Matched_for_All</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>Points</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getPointsBalance</nameSegment>
        <outputParameters>
            <assignToReference>OldPointBalance</assignToReference>
            <name>PointsBalance</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Points_to_Debit</name>
        <label>Get Points to Debit</label>
        <locationX>1395</locationX>
        <locationY>658</locationY>
        <actionName>Points_to_Redeem_Based_on_Products_and_Vouchers_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Does_Redemption_Rule_Matches_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EndDate__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.ActivityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Partner__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.PartnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Product__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductCategory__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.ProductCategory.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RedemptionType__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.JournalSubTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.ActivityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionId__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.VoucherDefinitionId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Points_to_Redeem_Based_on_Products_and_Vouchers_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Points_to_Debit_For_Debit_Points</name>
        <label>Get Points to Debit For Debit Points</label>
        <locationX>565</locationX>
        <locationY>487</locationY>
        <actionName>Points_to_Redeem_Based_on_Products_and_Vouchers_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Debit_Points</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EndDate__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.ActivityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Partner__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.PartnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Product__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.ProductId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductCategory__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.ProductCategory.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RedemptionType__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.JournalSubTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.ActivityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionId__c</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.VoucherDefinitionId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Points_to_Redeem_Based_on_Products_and_Vouchers_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Voucher_Code</name>
        <label>Get Voucher Code</label>
        <locationX>497</locationX>
        <locationY>969</locationY>
        <actionName>VoucherCodeUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Issue_Voucher_To_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isFlowCall</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MemberId</name>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCodeCategory</name>
            <value>
                <stringValue>Redemption</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCodeCategoryId</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionId</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.VoucherDefinitionId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherCodeUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Issue_Voucher_To_Member</name>
        <label>Issue Voucher</label>
        <locationX>276</locationX>
        <locationY>969</locationY>
        <actionName>issueVoucher</actionName>
        <actionType>issueVoucher</actionType>
        <connector>
            <targetReference>Valid_Issued_Vouchers_Id_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.LoyaltyProgram.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCode</name>
            <value>
                <elementReference>Get_Voucher_Code.VoucherCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionName</name>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.VoucherDefinitionId__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>issueVoucher</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Points_to_Redeem</name>
        <label>Add Points to Redeem</label>
        <locationX>944</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>TotalPointsToRedeem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Points_to_Debit.singleOutcome.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PointsRequiredForEachRedemption</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Points_to_Debit.singleOutcome.Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_ID</name>
        <label>Assign Member ID</label>
        <locationX>1396</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>MemberID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Points_to_Debit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Has_Sufficient_Balance</name>
        <label>Assignment Has Sufficient Balance</label>
        <locationX>130</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>HasSufficientBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Issued_Voucher_Id_Null_Assignment</name>
        <label>Issued Voucher Id Null Assignment</label>
        <locationX>486</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>IssuedVoucherIds</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Points_Required_Null_Assignment_for_No_rule_match</name>
        <label>Points Required Null Assignment for No Rule Match</label>
        <locationX>1187</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PointsRequiredForEachRedemption</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnyRuleNotMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Issued_Vouchers_Id_Assignment</name>
        <label>Valid Issued Vouchers Id Assignment</label>
        <locationX>276</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>IssuedVoucherIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Issue_Voucher_To_Member.VoucherId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Member_have_Sufficient_Balance</name>
        <label>Does Member have Sufficient Balance?</label>
        <locationX>331</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Insufficient</defaultConnectorLabel>
        <rules>
            <name>Sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldPointBalance</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalPointsToRedeem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Has_Sufficient_Balance</targetReference>
            </connector>
            <label>Sufficient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Redemption_Rule_Matched_for_All</name>
        <label>Does Redemption Rule Matched for All?</label>
        <locationX>572</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Any Rule Not Matched</defaultConnectorLabel>
        <rules>
            <name>All_Rule_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnyRuleNotMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Member_have_Sufficient_Balance</targetReference>
            </connector>
            <label>All Rule Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Redemption_Rule_Matches_0</name>
        <label>Does Redemption Rule Matches?</label>
        <locationX>1182</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Add_Points_to_Redeem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rule Matches</defaultConnectorLabel>
        <rules>
            <name>No_Rule_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Points_to_Debit.outcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Points_Required_Null_Assignment_for_No_rule_match</targetReference>
            </connector>
            <label>No Rule Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Voucher_Needs_to_be_Issued</name>
        <label>Does Voucher Needs to be Issued?</label>
        <locationX>764</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Issued_Voucher_Id_Null_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Issue Voucher</defaultConnectorLabel>
        <rules>
            <name>Issue_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher.JournalSubType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voucher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Voucher_Code</targetReference>
            </connector>
            <label>Issue Voucher</label>
        </rules>
    </decisions>
    <interviewLabel>Deduct Points based on {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deduct Points Based on Product and Vouchers</label>
    <loops>
        <name>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem</name>
        <label>Iterate Over Transaction Journals for Calculating Total Points to Redeem</label>
        <locationX>943</locationX>
        <locationY>330</locationY>
        <collectionReference>TransactionJournals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Member_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Member_Points_Balance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Transaction_Journals_for_Debit_Points_and_Issue_Voucher</name>
        <label>Iterate Over Transaction Journals for Debit Points and Issue Voucher</label>
        <locationX>279</locationX>
        <locationY>610</locationY>
        <collectionReference>TransactionJournals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Points_to_Debit_For_Debit_Points</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Balance_after_Debit_Points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>817</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Iterate_Over_Transaction_Journals_for_Calculating_Total_Points_to_Redeem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnyRuleNotMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasSufficientBalance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IssuedVoucherIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPointsBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OldPointBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PointsRequiredForEachRedemption</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalPointsToRedeem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransactionJournals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
</Flow>
