flows/Einstein_Bots_Find_Session_Init_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Channel_Chat</name>
        <label>Channel = Chat</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSessionInitialized</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Triggered_Case_Id_Chat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Channel_SMS</name>
        <label>Channel = SMS</label>
        <locationX>60</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>varChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarMessagingEndUser.MessageType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSessionInitialized</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Triggered_Case_Id_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triggered_Case_Id_Chat</name>
        <label>Set Triggered Case Id</label>
        <locationX>480</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTriggeredCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarLiveChatTranscript.CaseId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Triggered_Case_Id_SMS</name>
        <label>Set Triggered Case Id</label>
        <locationX>218</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>varTriggeredCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarMessagingSession.CaseId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Session_Channel</name>
        <label>Check Session Channel</label>
        <locationX>332</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSessionId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MessagingSession</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
        <rules>
            <name>Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoutableId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LiveChatTranscript</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
    </decisions>
    <description>Returns a Contact, Case and either the MessagingSession Id or LiveChatTranscript Id for the specified Routable Id</description>
    <interviewLabel>Einstein Bots - Find `Session Init Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Find Session Init Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chat_Contact</name>
        <label>Get Chat Contact</label>
        <locationX>479</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Triggered_Chat_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarLiveChatTranscript.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvarContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_LiveChatTranscript</name>
        <label>Get LiveChatTranscript</label>
        <locationX>479</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chat_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRoutableId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>rvarLiveChatTranscript</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>LeadId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingEndUser</name>
        <label>Get MessagingEndUser</label>
        <locationX>63</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SMS_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarMessagingSession.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>rvarMessagingEndUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>MessageType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingSession</name>
        <label>Get MessagingSession</label>
        <locationX>221</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingEndUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSessionId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputReference>rvarMessagingSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndUserContactId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>EndUserAccountId</queriedFields>
        <queriedFields>MessagingEndUserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Contact</name>
        <label>Get SMS Contact</label>
        <locationX>221</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Triggered_Messaging_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarMessagingEndUser.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvarContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggered_Chat_Case</name>
        <label>Get Triggered Chat Case</label>
        <locationX>666</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Channel_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarLiveChatTranscript.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>rvarCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggered_Messaging_Case</name>
        <label>Get Triggered Messaging Case</label>
        <locationX>60</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Channel_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarMessagingSession.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>rvarCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Check_Session_Channel</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarLiveChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>rvarMessagingEndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>rvarMessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSessionInitialized</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTriggeredCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
