flows/Enable_Extended_Returns.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_Benefit_Status</name>
        <label>Check Benefit Status</label>
        <locationX>773</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Benefit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Benefit.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewPendingProcessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_flag_on_Account</targetReference>
            </connector>
            <label>New Benefit</label>
        </rules>
        <rules>
            <name>Expired_Benefit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Benefit.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExpiredPendingProcessing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Flag_on_Account</targetReference>
            </connector>
            <label>Expired Benefit</label>
        </rules>
    </decisions>
    <interviewLabel>Enable Extended Returns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enable Extended Returns</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>635</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Benefit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Benefit.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Benefit</name>
        <label>Get Member Benefit</label>
        <locationX>500</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_Flag_on_Account</name>
        <label>Disable Flag on Account</label>
        <locationX>1017</locationX>
        <locationY>282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligible_For_Extended_Returns__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Return_Period__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Enable_flag_on_Account</name>
        <label>Enable flag on Account</label>
        <locationX>1006</locationX>
        <locationY>43</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligible_For_Extended_Returns__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Return_Period__c</field>
            <value>
                <elementReference>Get_Member_Benefit.Benefit.Value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>127</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Get_Member_Benefit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MemberBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
