flows/ERP_Order_ATP_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_14_days</name>
        <label>add 14 days</label>
        <locationX>586</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>deliveryDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>availabilityDivisor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Product_Quantities_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_product_line_to_table</name>
        <label>add product line to table</label>
        <locationX>734</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>productQtyTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderproduct_tt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Product_Quantities_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>minus_2_days</name>
        <label>minus 2 days</label>
        <locationX>380</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>deliveryDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Product_Quantities_Table</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Status</name>
        <label>Order Status</label>
        <locationX>480</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Build_Product_Quantities_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>on time</defaultConnectorLabel>
        <rules>
            <name>early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.ERP_Order_Status_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>minus_2_days</targetReference>
            </connector>
            <label>early</label>
        </rules>
        <rules>
            <name>late</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.ERP_Order_Status_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_14_days</targetReference>
            </connector>
            <label>late</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>orderProductChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <sortField>Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Product_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ProductQtyRemaining</name>
        <dataType>Number</dataType>
        <expression>{!orderProductLoopVar.Quantity} / {!availabilityDivisor}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ERP Order ATP Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERP Order ATP Check</label>
    <loops>
        <name>Build_Product_Quantities_Table</name>
        <label>Build Product Quantities Table</label>
        <locationX>488</locationX>
        <locationY>438</locationY>
        <assignNextValueToReference>orderProductLoopVar</assignNextValueToReference>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_product_line_to_table</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ATP_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Order</name>
        <label>Get Current Order</label>
        <locationX>154</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>ERP_Order_Status_Icon__c</queriedFields>
        <queriedFields>ERP_Order_Status_Text__c</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>256</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ATP_Results</name>
        <label>ATP Results</label>
        <locationX>499</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>results_dt</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Current Availability&lt;/u&gt;:&lt;/p&gt;&lt;p&gt;{!productQtyTable}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Original scheduled date is &lt;/p&gt;&lt;p&gt;{!Get_Current_Order.EffectiveDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The full order will arrive on &lt;b&gt;{!deliveryDate}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>partialqty_dt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Partial quantities are available for shipment today. Select to send partial shipments:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>late</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>productCheckbox</name>
            <choiceReferences>orderProductChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>late</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Current_Order_Status</name>
        <label>Current Order Status</label>
        <locationX>359</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Order_Status</targetReference>
        </connector>
        <fields>
            <name>currentorderstatus_dt</name>
            <fieldText>&lt;p&gt;Order &lt;b&gt;#{!Get_Current_Order.OrderNumber} &lt;/b&gt;is&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Current_Order.ERP_Order_Status_Icon__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Get current availability details from ERP?&lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>orderproduct_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ProductQtyRemaining} of {!orderProductLoopVar.Quantity} available for {!orderProductLoopVar.Product_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>this is to make the ATP look real with a partial shipment</description>
        <name>availabilityDivisor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>deliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Current_Order.EffectiveDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>orderProductLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productQtyTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
