flows/GetPartnerSetId.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignNameID</name>
        <label>AssignNameID</label>
        <locationX>633</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>ForecastsetID</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;div&gt;{!ExtractNameID.Id}-{!ExtractNameID.ForecastSetName}&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastSetName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExtractNameID.ForecastSetName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtractNameID</targetReference>
        </connector>
    </assignments>
    <interviewLabel>GetPartnerSetId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetPartnerSetId</label>
    <loops>
        <name>ExtractNameID</name>
        <label>ExtractNameID</label>
        <locationX>489</locationX>
        <locationY>366</locationY>
        <collectionReference>GetAAFSetId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNameID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_of_Partner_Set_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAAFSetId</name>
        <label>GetAAFSetId</label>
        <locationX>493</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExtractNameID</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AdvAccountForecastSet</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ForecastSetName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>List_of_Partner_Set_Ids</name>
        <label>List of Partner Set Ids</label>
        <locationX>612</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordList</name>
            <fieldText>&lt;p&gt;{!ForecastsetID}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>83</locationX>
        <locationY>141</locationY>
        <connector>
            <targetReference>GetAAFSetId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ForecastsetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ForecastSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
