flows/IDO_Service_Voice_Call_On_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Messaging_User</name>
        <label>Check Messaging User</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Phone_Number_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not using Messaging Users</defaultConnectorLabel>
        <rules>
            <name>User_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>User Associated</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.CallType}) + &apos;Support call&apos; +
IF(ISBLANK({!RelatedContact.Name}), &apos;&apos;, &apos; with &apos; + {!RelatedContact.Name})</expression>
    </formulas>
    <formulas>
        <name>NumberToSearchWith</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CallType}) == &apos;Inbound&apos;, {!$Record.FromPhoneNumber}, {!$Record.ToPhoneNumber})</expression>
    </formulas>
    <interviewLabel>IDO Service - Voice Call On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDO Service - Voice Call On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Set_Voice_Call_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RelatedContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RelatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndUser.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RelatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Voice_Call_Fields</name>
        <label>Set Voice Call Fields</label>
        <locationX>182</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>RelatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Messaging_User</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Use values from the master flow to set the inputs for the &quot;IDO Service - Phone Number Search&quot; flow. By default, the master flow stores all outputs. You can either reference outputs via the API name of the Subflow element or manually assign variables in the master flow to store individual outputs from the &quot;IDO Service - Phone Number Search&quot; flow.</description>
        <name>Phone_Number_Search</name>
        <label>Phone Number Search</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <flowName>IDO_Service_Phone_Number_Search</flowName>
        <inputAssignments>
            <name>NumberToSearchWith</name>
            <value>
                <elementReference>NumberToSearchWith</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RelatedContact</assignToReference>
            <name>MatchedContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
