flows/Issue_Toolkit_Voucher.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Voucher_Code</name>
        <label>Get Voucher Code</label>
        <locationX>745</locationX>
        <locationY>69</locationY>
        <actionName>VoucherCodeUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Issue_Voucher</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isFlowCall</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MemberId</name>
            <value>
                <elementReference>Get_Member_Benefit.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCodeCategory</name>
            <value>
                <stringValue>Redemption</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionId</name>
            <value>
                <elementReference>Get_Voucher_Definition.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherCodeUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Issue_Voucher</name>
        <label>Issue Voucher</label>
        <locationX>909</locationX>
        <locationY>69</locationY>
        <actionName>issueVoucher</actionName>
        <actionType>issueVoucher</actionType>
        <connector>
            <targetReference>Update_Member_Benefit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BenefitId</name>
            <value>
                <elementReference>Get_Member_Benefit.BenefitId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EffectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Member_Benefit.MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Extraa Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCode</name>
            <value>
                <elementReference>Get_Voucher_Code.VoucherCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionName</name>
            <value>
                <elementReference>Get_Voucher_Definition.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>issueVoucher</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Issue Toolkit Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Toolkit Voucher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Benefit</name>
        <label>Get Member Benefit</label>
        <locationX>480</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voucher_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voucher_Definition</name>
        <label>Get Voucher Definition</label>
        <locationX>614</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voucher_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Toolkit Voucher</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_Benefit</name>
        <label>Update Member Benefit</label>
        <locationX>1058</locationX>
        <locationY>69</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryRefObjectRecord</field>
            <value>
                <elementReference>Issue_Voucher.VoucherId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryRefObjectRecordTitle</field>
            <value>
                <stringValue>Toolkit Voucher</stringValue>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Member_Benefit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MemberBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
