flows/loyalty_redemption_survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_0b7396b7_600c_4ec3_b41a_87e47f8f9104</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_11b623e3_b7a2_4a36_a7c4_f38ccfa6562c</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_341ca40f_7278_4100_9d6b_12347ed400bd</name>
        <choiceText>1. Poor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1. Poor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3981c74b_78c9_4543_b9c7_fb4914d56999</name>
        <choiceText>5. Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5. Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4b47790b_6bf3_4aa8_afd9_dd14c9086646</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_568c3389_1790_4c3b_9eb7_74688d8ff65a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_57b55074_5f91_4b36_bbd2_84ab7a89b15b</name>
        <choiceText>Slightly appealing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly appealing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73e4b4cc_cf6c_42ee_87d9_786b60794126</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7486b5dc_34e3_47f8_bac7_e73898f1570c</name>
        <choiceText>Not appealing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not appealing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b08f71f2_54e6_44e4_b4b5_1c07ddd864ed</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b5533443_1212_4002_873f_a9fd2edb32fb</name>
        <choiceText>Very appealing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very appealing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bceaf3b2_b1df_4d96_aeaa_40577711dc93</name>
        <choiceText>Extremely appealing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely appealing</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec27f666_8c36_45d4_b82a_4b4d0b4ab5f5</name>
        <choiceText>2. Fair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2. Fair</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4d3659f_2133_430f_8c3a_bcf2490b4c17</name>
        <choiceText>4. Very Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4. Very Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f9dfeb1c_f51f_4435_a933_293013c757c5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fedee3da_3364_4bfb_805c_77f343db0492</name>
        <choiceText>3. Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3. Good</stringValue>
        </value>
    </choices>
    <interviewLabel>Loyalty Redemption Survey</interviewLabel>
    <label>Loyalty Redemption Survey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>participantMergeFieldName</name>
        <value>
            <stringValue>ParticipantRecord</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>recordMergeFieldName</name>
        <value>
            <stringValue>TransactionJournalRecord</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Partner Extraa Program &lt;vmallimadugula@salesforce.com&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Question</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_SurveyQuestion</name>
        <value>
            <stringValue>q_8fa666bd_0c5c_4010_af71_249dafc8dd00</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <recordLookups>
        <name>surveyParticipantRecordLookup_ParticipantRecord</name>
        <label>surveyParticipantRecordLookup_ParticipantRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetParticipantLookup_ParticipantRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>surveyParticipantLookupIdVar</assignToReference>
            <field>ParticipantId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>surveySubjectRecordLookup_TransactionJournalRecord</name>
        <label>surveySubjectRecordLookup_TransactionJournalRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetRecordLookup_TransactionJournalRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SurveyInvitationId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SubjectEntityType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>SubjectEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TransactionJournal</stringValue>
            </value>
        </filters>
        <object>SurveySubject</object>
        <outputAssignments>
            <assignToReference>surveySubjectLookupSubjectIdVar</assignToReference>
            <field>SubjectId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>targetParticipantLookup_ParticipantRecord</name>
        <label>targetParticipantLookup_ParticipantRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyParticipantLookupIdVar</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ParticipantRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>targetRecordLookup_TransactionJournalRecord</name>
        <label>targetRecordLookup_TransactionJournalRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>surveyParticipantRecordLookup_ParticipantRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveySubjectLookupSubjectIdVar</elementReference>
            </value>
        </filters>
        <object>TransactionJournal</object>
        <outputReference>TransactionJournalRecord</outputReference>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LoyaltyProgramId</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>p_0b7396b7_600c_4ec3_b41a_87e47f8f9104</name>
        <label>Survey Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_81f8de49_be4e_42d4_9690_737f89a6f100</name>
            <choiceReferences>c_341ca40f_7278_4100_9d6b_12347ed400bd</choiceReferences>
            <choiceReferences>c_ec27f666_8c36_45d4_b82a_4b4d0b4ab5f5</choiceReferences>
            <choiceReferences>c_fedee3da_3364_4bfb_805c_77f343db0492</choiceReferences>
            <choiceReferences>c_f4d3659f_2133_430f_8c3a_bcf2490b4c17</choiceReferences>
            <choiceReferences>c_3981c74b_78c9_4543_b9c7_fb4914d56999</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;How would you rate your experience redeeming your points?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_66bfdd6b_c411_4083_8e57_00e9205482d6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_66bfdd6b_c411_4083_8e57_00e9205482d6</name>
            <choiceReferences>c_73e4b4cc_cf6c_42ee_87d9_786b60794126</choiceReferences>
            <choiceReferences>c_568c3389_1790_4c3b_9eb7_74688d8ff65a</choiceReferences>
            <choiceReferences>c_b08f71f2_54e6_44e4_b4b5_1c07ddd864ed</choiceReferences>
            <choiceReferences>c_f9dfeb1c_f51f_4435_a933_293013c757c5</choiceReferences>
            <choiceReferences>c_11b623e3_b7a2_4a36_a7c4_f38ccfa6562c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;How would you rate the variety of products and services in the &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;r&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;ewards catalog?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2926af1d_aa9f_4062_a6d7_6156dcb2c7d1</name>
            <choiceReferences>c_7486b5dc_34e3_47f8_bac7_e73898f1570c</choiceReferences>
            <choiceReferences>c_4b47790b_6bf3_4aa8_afd9_dd14c9086646</choiceReferences>
            <choiceReferences>c_57b55074_5f91_4b36_bbd2_84ab7a89b15b</choiceReferences>
            <choiceReferences>c_b5533443_1212_4002_873f_a9fd2edb32fb</choiceReferences>
            <choiceReferences>c_bceaf3b2_b1df_4d96_aeaa_40577711dc93</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;How appealing are the products in the rew&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ards catalog?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8fa666bd_0c5c_4010_af71_249dafc8dd00_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8fa666bd_0c5c_4010_af71_249dafc8dd00</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;How likely are you to recommend the &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!TransactionJournalRecord.LoyaltyProgram.Name}&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt; to othe&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;rs?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6497e5d9_6069_453b_8582_01e1e3085938</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;Any comments or suggestions?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_0b7396b7_600c_4ec3_b41a_87e47f8f9104</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>surveySubjectRecordLookup_TransactionJournalRecord</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;Thanks for your feedback!.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;We&apos;ve added reward points to your account to thank you for your participation.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 18px;&quot;&gt;Thanks for being a valued&lt;/span&gt;&lt;b style=&quot;font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 18px;&quot;&gt; &lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!TransactionJournalRecord.LoyaltyProgram.Name} &lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;member.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt;Let us know how we did when you redeemed points for &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!TransactionJournalRecord.Product.Name}&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif;&quot;&gt; on &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!TransactionJournalRecord.ActivityDate}.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParticipantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>surveyParticipantLookupIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveySubjectLookupSubjectIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>TransactionJournalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>var_q_66bfdd6b_c411_4083_8e57_00e9205482d6_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_8fa666bd_0c5c_4010_af71_249dafc8dd00_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
