flows/MFG_ETO_Create_New_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MFG_FLOW_ETO_Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>533</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MFG_FLOW_ETO_Project_Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>MFG_Flow_AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>validateName</name>
        <label>validateName</label>
        <locationX>128</locationX>
        <locationY>508</locationY>
        <actionName>DESZ_FlowCheckName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MFG_Flow_Create_new_Project</targetReference>
        </connector>
        <inputParameters>
            <name>pName</name>
            <value>
                <elementReference>MFG_Flow_New_Project_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DESZ_FlowCheckName</nameSegment>
        <outputParameters>
            <assignToReference>validatedName</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>WIP</description>
    <formulas>
        <name>MFG_FLOW_ETO_Project_Chatter</name>
        <dataType>String</dataType>
        <expression>{!MFG_Flow_New_Project_Name}&amp; &quot; project has been created for &quot;&amp;{!MFG_Flow_Opportunity_Name}</expression>
    </formulas>
    <formulas>
        <name>MFG_FLOW_ETO_START_PLUS_120</name>
        <dataType>Date</dataType>
        <expression>{!MFG_Flow_Proj_Planned_start_date} + 120</expression>
    </formulas>
    <formulas>
        <name>MFG_FLOW_ETO_START_PLUS_30</name>
        <dataType>Date</dataType>
        <expression>{!MFG_Flow_Proj_Planned_start_date} + 30</expression>
    </formulas>
    <formulas>
        <name>MFG_FLOW_ETO_START_PLUS_45</name>
        <dataType>Date</dataType>
        <expression>{!MFG_Flow_Proj_Planned_start_date} + 45</expression>
    </formulas>
    <formulas>
        <name>MFG_FLOW_ETO_START_PLUS_60</name>
        <dataType>Date</dataType>
        <expression>{!MFG_Flow_Proj_Planned_start_date} + 60</expression>
    </formulas>
    <formulas>
        <name>MFG_FLOW_ETO_START_PLUS_90</name>
        <dataType>Date</dataType>
        <expression>{!MFG_Flow_Proj_Planned_start_date} + 90</expression>
    </formulas>
    <formulas>
        <description>Name of Project created from Opportunity Information</description>
        <name>MFG_Flow_New_Project_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Post Sales Implementation Project for &quot; &amp;{!MFG_Flow_Opportunity_Name}</expression>
    </formulas>
    <interviewLabel>MFG ETO Create New Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MFG ETO Create New Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MFG_FLOW_Create_Kickoff_Milestone</name>
        <label>Create Milestone - Kickoff</label>
        <locationX>255</locationX>
        <locationY>710</locationY>
        <assignRecordIdToReference>MFG_FLOW_New_Milestone_Kickoff_ID</assignRecordIdToReference>
        <connector>
            <targetReference>MFG_FLOW_Create_Milestone_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_Flow_Proj_Planned_start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_Flow_Proj_Planned_start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>1. Project Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_Create_Milestone_2</name>
        <label>Create Milestone - Design</label>
        <locationX>255</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>MFG_FLOW_Create_Milestone_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_45</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>2. Design Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_Create_Milestone_3</name>
        <label>Create Milestone - Design</label>
        <locationX>255</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>MFG_FLOW_Create_Milestone_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_45</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>3. Specifications Gathering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_Create_Milestone_4</name>
        <label>Create Milestone - Design</label>
        <locationX>255</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>MFG_FLOW_Create_Milestone_4_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>4. Specifications Gathering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_Create_Milestone_4_0</name>
        <label>Create Milestone - Design</label>
        <locationX>256</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>MFG_FLOW_Create_Milestone_4_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_90</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>5. Engineering Signoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_Create_Milestone_4_0_0</name>
        <label>Create Milestone - Design</label>
        <locationX>258</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>MFG_FLOW_ETO_Create_Kickoff_Task1</targetReference>
        </connector>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>MFG_FLOW_Production_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>6. Production Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>MFG_Flow_Created_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create new project</description>
        <name>MFG_Flow_Create_new_Project</name>
        <label>Create new Project</label>
        <locationX>46</locationX>
        <locationY>623</locationY>
        <assignRecordIdToReference>MFG_Flow_Created_Project</assignRecordIdToReference>
        <connector>
            <targetReference>MFG_FLOW_Create_Kickoff_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>MFG_Flow_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>MFG_Flow_Project_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kickoff__c</field>
            <value>
                <elementReference>MFG_Flow_Proj_Planned_start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>validatedName</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_ETO_Create_Kickoff_Task1</name>
        <label>Create Kickoff Tasks</label>
        <locationX>531</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>MFG_FLOW_ETO_Create_Kickoff_Task2</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Meeting to establish resources and availability.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>1. Establish Project Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Milestone__c</field>
            <value>
                <elementReference>MFG_FLOW_New_Milestone_Kickoff_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>MFG_Flow_Proj_Planned_start_date</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_ETO_Create_Kickoff_Task2</name>
        <label>Create Kickoff Tasks 2</label>
        <locationX>534</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>MFG_FLOW_ETO_Create_Kickoff_Task3</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Initial meeting to review project and establish timelines, etc.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>2. Project Team Kickoff Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Milestone__c</field>
            <value>
                <elementReference>MFG_FLOW_New_Milestone_Kickoff_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_30</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>MFG_FLOW_ETO_Create_Kickoff_Task3</name>
        <label>Create Kickoff Tasks 3</label>
        <locationX>534</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>MFG_FLOW_ETO_Post_to_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Huddle to review project timeline; confirm with client.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>3. Draft Project Timeline Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Milestone__c</field>
            <value>
                <elementReference>MFG_FLOW_New_Milestone_Kickoff_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>MFG_FLOW_ETO_START_PLUS_30</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone1_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>MFG_Flow_Get_Opportunity_Information</name>
        <label>Get Opportunity Information</label>
        <locationX>50</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MFG_Flow_Create_Post_Sales_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>MFG_Flow_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MFG_Flow_Opportunity_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Flow to create new project</description>
        <name>MFG_Flow_Create_Post_Sales_Project</name>
        <label>Create Post-Sales Project</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>validateName</targetReference>
        </connector>
        <fields>
            <name>MFG_Flow_Proj_Planned_start_date</name>
            <dataType>Date</dataType>
            <fieldText>Project start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MFG_FLOW_Production_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Target Production Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MFG_Flow_Project_Description</name>
            <fieldText>Project Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MFG_Flow_Get_Opportunity_Information</startElementReference>
    <status>Active</status>
    <variables>
        <description>Account ID tied to Flow (fetched from Opportunity in Focus)</description>
        <name>MFG_Flow_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MFG_Flow_Created_Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MFG_FLOW_New_Milestone_Kickoff_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity Name of in focus record</description>
        <name>MFG_Flow_Opportunity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>In focus recordId for Opportunity from which Project is created</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validatedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
