flows/MFG_Add_Campaign_Member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>MFG_Add_Campaign_Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MFG_Add_Campaign_Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddCampaignMember</name>
        <label>AddCampaignMember</label>
        <locationX>344</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Lead_Added_to_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>CurrentLead</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>GetCampaignDetails</name>
        <label>GetCampaignDetails</label>
        <locationX>192</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Nurture Email</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetLeadRecord</name>
        <label>GetLeadRecord</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCampaignDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_to_Campaign</name>
        <label>Add to Campaign</label>
        <locationX>346</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddCampaignMember</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;Lead {!LeadName} is being added to customer success event invitation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>529</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failed</name>
            <fieldText>&lt;p&gt;{!LeadName} is already part of the campaign {!CampaignName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Added_to_Campaign</name>
        <label>Lead Added to Campaign</label>
        <locationX>522</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Lead was successfully added to the Partner Success campaign!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetLeadRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00Q2K00001rdD53</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
