flows/MFG_Discrete_Partners_PRM_ONB_Partner_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Application_Confirmation_Email</name>
        <label>Send Application Confirmation Email</label>
        <locationX>776</locationX>
        <locationY>1406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_05</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>cmpEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Stage_1_to_Active</name>
        <label>Set Stage 1 to Active</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2_to_Active</name>
        <label>Set Stage 2 to Active</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_3_to_Active</name>
        <label>Set Stage 3 to Active</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_4_to_Active</name>
        <label>Set Stage 4 to Active</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Profile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_04</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>GeoPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MFG_Discrete_Partners_Geo_Preference__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MFG_Discrete_Partners_Partner_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Program_Interest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MFG_Discrete_Partners_Channel_Program__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>PRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRM: ONB - Partner Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Application</name>
        <label>Create Partner Application</label>
        <locationX>776</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Send_Application_Confirmation_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>cmpAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>cmpEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>cmpName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>cmpName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFG_Discrete_Partners_Channel_Program__c</field>
            <value>
                <elementReference>varSelectedChannelProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFG_Discrete_Partners_Geo_Preference__c</field>
            <value>
                <elementReference>Geographical_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFG_Discrete_Partners_Interest__c</field>
            <value>
                <elementReference>Please_Describe_Your_Previous_Business_Experience_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFG_Discrete_Partners_Partner_Type__c</field>
            <value>
                <elementReference>Dealer_Type_Distributor_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFG_Discrete_Partners_Specific_Geo__c</field>
            <value>
                <elementReference>Specific_Geographical_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>cmpPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>cmpAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>cmpAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>cmpAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Company_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner_Onboarding_Lead_Record_Type</name>
        <label>Get Partner Onboarding Lead Record Type</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_1_to_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MFG_Discrete_Partners_Partner_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1304</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We&apos;re sorry, we seem to be having issues right now. We&apos;ve notified our team and someone will reach out to you shortly. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_01</name>
        <label>Screen 01</label>
        <locationX>773</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_2_to_Active</targetReference>
        </connector>
        <fields>
            <name>stage01</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Screen_01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>magicPicklist</name>
                    <extensionName>flowmagic:FlowPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>picklistField</name>
                        <value>
                            <stringValue>MFG_Discrete_Partners_Channel_Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedChannelProgram</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageSize</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>variant</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedChannelProgram</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_02</name>
        <label>Screen 02</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_3_to_Active</targetReference>
        </connector>
        <fields>
            <name>stage02</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cmpName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cmpPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cmpEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_03</name>
        <label>Screen 03</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_4_to_Active</targetReference>
        </connector>
        <fields>
            <name>stage03</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cmpAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company_Website</name>
            <dataType>String</dataType>
            <fieldText>Company Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_04</name>
        <label>Screen 04</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Partner_Application</targetReference>
        </connector>
        <fields>
            <name>stage04</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dealer_Type_Distributor_Type</name>
            <choiceReferences>PartnerType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dealer Type / Distributor Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Geographical_Preference</name>
            <choiceReferences>GeoPreference</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Geographical Preference</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Specific_Geographical_Preference</name>
            <dataType>String</dataType>
            <fieldText>Specific Geographical Preference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_Describe_Your_Previous_Business_Experience_Interest</name>
            <fieldText>Please Describe Your Previous Business Experience &amp; Interest</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_05</name>
        <label>Screen 05</label>
        <locationX>775</locationX>
        <locationY>1585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;{!cmpName.firstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Thank you for applying to have {!Company_Name} accepted to our &lt;/span&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varSelectedChannelProgram}&lt;/span&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt; Program. Our channel team will reach out to walk you through the requirements and help you get started shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Looking forward to doing business together!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Channel_Program</name>
        <isActive>true</isActive>
        <label>Channel Program</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Company_Information</name>
        <isActive>true</isActive>
        <label>Company Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Company_Profile</name>
        <isActive>true</isActive>
        <label>Company Profile</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contact_Information</name>
        <isActive>true</isActive>
        <label>Contact Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Partner_Onboarding_Lead_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;{!cmpName.firstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Thank you for applying to have {!Company_Name} accepted to our {!varSelectedChannelProgram} Program. Our channel team will reach out to walk you through the requirements and help you get started shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Looking forward to doing business together!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;The Badger Equipment Channel Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting your application to the &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!varSelectedChannelProgram}&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; program!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varSelectedChannelProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
