flows/MFG_Discrete_Partners_PRM_ONB_Qualify_Partner_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Partner_Application_to_Account</name>
        <label>Convert Partner Application to Account</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showToast</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_02</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>varLeadStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Lead_Information.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varLeadOwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>showToast</name>
        <label>showToast</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Set_Up_Partner_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Partner account successfully created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>showToast_0</name>
        <label>showToast</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Lead rejected and archived</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Status_to_Pending</name>
        <label>Assign Lead Status to Pending</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Information.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Status_to_Rejected</name>
        <label>Assign Lead Status to Rejected</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Information.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Status_to_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varLeadStatus_Converted_Value</name>
        <label>Assign varLeadStatus Converted Value</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varLeadStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Partner_Application_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_varLeadOwnerId_to_Current_Lead_Owner</name>
        <label>set varLeadOwnerId to Current Lead Owner</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varLeadOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Information.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varLeadStatus_Converted_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varLeadOwnerId_to_Running_User</name>
        <label>Set varLeadOwnerId to Running User</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varLeadOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varLeadStatus_Converted_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varLeadOwnerId_to_Running_User_0</name>
        <label>Set varLeadOwnerId to Running User</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varLeadOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varLeadStatus_Converted_Value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_the_Lead_Owned_by_a_Queue</name>
        <label>Is the Lead Owned by a Queue</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>set_varLeadOwnerId_to_Current_Lead_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owned by User</defaultConnectorLabel>
        <rules>
            <name>Owned_by_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Information.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varLeadOwnerId_to_Running_User</targetReference>
            </connector>
            <label>Owned by Queue</label>
        </rules>
        <rules>
            <name>Owned_by_Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Information.Owner:User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varLeadOwnerId_to_Running_User_0</targetReference>
            </connector>
            <label>Owned by Guest User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Lead_Qualified</name>
        <label>Is the Lead Qualified</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Status_to_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Working / Need More Info</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Qualification_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Lead_Owned_by_a_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Qualification_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Status_to_Rejected</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LeadStatusPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PRM: ONB - Qualify Partner Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRM: ONB - Qualify Partner Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead_Information</name>
        <label>Get Lead Information</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_02</targetReference>
        </faultConnector>
        <inputReference>Get_Lead_Information</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Status_to_Rejected</name>
        <label>Update Lead Status to Rejected</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>showToast_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_02</targetReference>
        </faultConnector>
        <inputReference>Get_Lead_Information</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_01</name>
        <label>Screen 01</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_Lead_Qualified</targetReference>
        </connector>
        <fields>
            <name>txtMessage01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Capture relevant qualification information and set the status of the lead.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.Company</objectFieldReference>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Lead_Information.AnnualRevenue</elementReference>
            </defaultValue>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.MFG_Discrete_Partners_Channel_Program__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.MFG_Discrete_Partners_Partner_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.MFG_Discrete_Partners_Geo_Preference__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Lead_Information.MFG_Discrete_Partners_Specific_Geo__c</objectFieldReference>
        </fields>
        <fields>
            <name>Business_Experience_Interest</name>
            <defaultValue>
                <stringValue>{!Get_Lead_Information.MFG_Discrete_Partners_Interest__c}</stringValue>
            </defaultValue>
            <fieldText>Business Experience &amp; Interest</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Set_Qualification_Status</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <choiceReferences>Pending</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Set Qualification Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02</name>
        <label>Screen 02</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtFaultMessage01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Looks like something went wrong. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Error Message: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: courier;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Up_Partner_Account</name>
        <label>Set Up Partner Account</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Up_Partner_User</targetReference>
        </connector>
        <flowName>MFG_DIscrete_Partners_PRM_ONB_Set_Up_Partner_Account</flowName>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>Convert_Partner_Application_to_Account.contactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Up_Partner_User</name>
        <label>Set Up Partner User</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <flowName>MFG_Discrete_Partners_PRM_ONB_Set_Up_Partner_User</flowName>
        <inputAssignments>
            <name>varContactId</name>
            <value>
                <elementReference>Convert_Partner_Application_to_Account.contactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
