flows/MFG_Discrete_Partners_SRM_Scorecard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Stage_01</name>
        <label>Assign Stage 01</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Supplier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_02</name>
        <label>Assign Stage 02</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_02_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_03</name>
        <label>Assign Stage 03</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_02_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_04</name>
        <label>Assign Stage 04</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Responsiveness</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_02_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_05</name>
        <label>Assign Stage 05</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Purchase_Order_Record</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>PCS_Delivery_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Status__c</picklistField>
        <picklistObject>MFG_Discrete_Partners_Scorecard__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Supplier_Communication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Supplier_Communication__c</picklistField>
        <picklistObject>MFG_Discrete_Partners_Scorecard__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_POs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.Id</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>varPurchaseOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_OverallScore</name>
        <dataType>String</dataType>
        <expression>IF(
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&lt;180),
&quot;⭐&quot;,
IF(
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&gt;=180) &amp;&amp; 
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&lt;210),
&quot;⭐⭐&quot;,
IF(
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&gt;=210) &amp;&amp; 
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&lt;240),
&quot;⭐⭐⭐&quot;,
IF(
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&gt;=240) &amp;&amp; 
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&lt;270),
&quot;⭐⭐⭐⭐&quot;,
IF(
(({!AvailabilityScoreSlider.value} + {!QualitySlider.value} + {!ResponsivenessSlider.value})&gt;=270),
&quot;⭐⭐⭐⭐⭐&quot;,
NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_SupplierCategory</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Current_Account.Supplier_Category__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaPartsAvailability</name>
        <dataType>Number</dataType>
        <expression>(100-(100*{!Parts_on_Backorder}))/100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaPartsAvailability2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!Desired_Parts_Unavailable} ==TRUE, FALSE,
TRUE)</expression>
    </formulas>
    <interviewLabel>SRM: Scorecard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRM: Scorecard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Scorecard_Record</name>
        <label>Create Scorecard Record</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Get_Scorecard_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Availability_Comments__c</field>
            <value>
                <elementReference>Availability_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability_Score__c</field>
            <value>
                <elementReference>AvailabilityScoreSlider.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_Late__c</field>
            <value>
                <elementReference>of_Days_Late</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Status__c</field>
            <value>
                <elementReference>Delivery_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Parts_Available__c</field>
            <value>
                <elementReference>FormulaPartsAvailability2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_on_Backorder__c</field>
            <value>
                <elementReference>Parts_on_Backorder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>varPurchaseOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality_Comments__c</field>
            <value>
                <elementReference>Quality_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality_Score__c</field>
            <value>
                <elementReference>QualitySlider.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsiveness_Comments__c</field>
            <value>
                <elementReference>Responsiveness_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsiveness_Score__c</field>
            <value>
                <elementReference>ResponsivenessSlider.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Defects__c</field>
            <value>
                <elementReference>Shipment_Defects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Communication__c</field>
            <value>
                <elementReference>Supplier_Communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>Get_Current_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Defects__c</field>
            <value>
                <elementReference>of_Defects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_RMAs__c</field>
            <value>
                <elementReference>of_RMAs</elementReference>
            </value>
        </inputAssignments>
        <object>MFG_Discrete_Partners_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchase_Order_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Related_Records</name>
        <label>Get Purchase Order Related Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scorecard_Records</name>
        <label>Get Scorecard Records</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_02_0_0_0_0</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MFG_Discrete_Partners_Scorecard__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Purchase_Order_Record</name>
        <label>Get Selected Purchase Order Record</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Scorecard_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPurchaseOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_01</name>
        <label>Screen 01</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
        <fields>
            <name>SRMEntryImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SRMEntryImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(18, 124, 224);&quot;&gt;Please rate the Supplier across the following three categories:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Availability: &lt;/strong&gt;refers to the number of times goods were available on the supplier&apos;s side.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Quality:&lt;/strong&gt; a supplier&apos;s ability to deliver goods or services that will satisfy customers&apos; needs.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Responsiveness: &lt;/strong&gt;a combined measure of how quickly a supplier responds to customer communications and ships goods.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>horizontalRule01</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>#0288d1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>solid</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02</name>
        <label>Screen_02</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_02</targetReference>
        </connector>
        <fields>
            <name>StageIndicator01</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage02</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); background-color: rgb(255, 255, 255);&quot;&gt;Supplier Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage03</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Supplier Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Current_Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayMessage04</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Supplier Category&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Formula_SupplierCategory}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage06</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Supplier Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Current_Account.BillingStreet}&lt;/p&gt;&lt;p&gt;{!Get_Current_Account.BillingCity}, {!Get_Current_Account.BillingState}, {!Get_Current_Account.BillingPostalCode}&lt;/p&gt;&lt;p&gt;{!Get_Current_Account.BillingCountry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>displayMessage05</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224);&quot;&gt;Purchase Order Details&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please select the related purchase order that you&apos;ll be scoring the supplier for.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purchase_Orders</name>
            <choiceReferences>RCS_POs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase Orders</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02_0</name>
        <label>Screen_02</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_03</targetReference>
        </connector>
        <fields>
            <name>StageIndicator01_0</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage02_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224);&quot;&gt;Purchase Order Details&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(18, 124, 224);&quot;&gt;Please select the related purchase order that you&apos;ll be scoring the supplier for.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desired_Parts_Unavailable</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Desired Parts Unavailable?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Parts_on_Backorder</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>% Parts on Backorder</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_02_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AvailabilityScoreSlider</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Rate Supplier Availability</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Availability_Comments</name>
                    <fieldText>Availability Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SRMBanner</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SRMBanner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>125px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02_0_0</name>
        <label>Screen_02</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_04</targetReference>
        </connector>
        <fields>
            <name>StageIndicator01_0_0</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage02_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); background-color: rgb(255, 255, 255);&quot;&gt;Provide details about the quality of the parts received.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipment_Defects</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Shipment Defects?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_02_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_Defects</name>
                    <dataType>Number</dataType>
                    <fieldText># of Defects</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipment_Defects</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_RMAs</name>
                    <dataType>Number</dataType>
                    <fieldText># of RMAs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipment_Defects</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_02_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QualitySlider</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Rate Supplier Quality</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quality_Comments</name>
                    <defaultValue>
                        <stringValue>Insert Your Comments Here</stringValue>
                    </defaultValue>
                    <fieldText>Quality Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SRMBanner_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SRMBanner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>125px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02_0_0_0</name>
        <label>Screen_02</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_05</targetReference>
        </connector>
        <fields>
            <name>StageIndicator01_0_0_0</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage02_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); background-color: rgb(255, 255, 255);&quot;&gt;Provide details about the responsiveness of the Supplier&apos;s communication and shipment delivery.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Delivery_Status</name>
                    <choiceReferences>PCS_Delivery_Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Delivery Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>of_Days_Late</name>
                    <dataType>Number</dataType>
                    <fieldText># of Days Late</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Delivery_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Late</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supplier_Communication</name>
                    <choiceReferences>PCS_Supplier_Communication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supplier Communication</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_02_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResponsivenessSlider</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Rate Supplier Responsiveness</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>size</name>
                        <value>
                            <stringValue>small</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Responsiveness_Comments</name>
                    <defaultValue>
                        <stringValue>Insert Your Comments Here</stringValue>
                    </defaultValue>
                    <fieldText>Responsiveness Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SRMBanner_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SRMBanner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>125px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>100%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_02_0_0_0_0</name>
        <label>Screen_02</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StageIndicator01_0_0_0_0</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMessage02_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224);&quot;&gt;Please confirm your scorecard selections. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224);&quot;&gt;You may go back and make changes before saving.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage07</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Availability Score&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); font-size: 18px;&quot;&gt;{!AvailabilityScoreSlider.value}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage08</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;﻿Quality Score&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); font-size: 18px;&quot;&gt;{!QualitySlider.value}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage09</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;﻿Responsiveness Score&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(18, 124, 224);&quot;&gt;{!ResponsivenessSlider.value}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_02_0_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayMessage10</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;﻿Overall Score&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(18, 124, 224);&quot;&gt;{!Formula_OverallScore}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>displayMessage11</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(18, 124, 224); background-color: rgb(255, 255, 255);&quot;&gt;Please upload any files relevant to your scorecard.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_02_0_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_02_0_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FileUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Supporting Documentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf,.doc,.jpg,.jpeg,.mov,.xls</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Click to Upload Files (pdf, doc, jpg and numerous other file formats are supported).</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Scorecard_Records.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_02_0_0_0_0_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>horizontalRule02</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>#0288d1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>solid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Availability</name>
        <isActive>true</isActive>
        <label>Availability</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Quality</name>
        <isActive>true</isActive>
        <label>Quality</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Responsiveness</name>
        <isActive>true</isActive>
        <label>Responsiveness</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Verify_Supplier</name>
        <isActive>true</isActive>
        <label>Verify Supplier</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPurchaseOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
