flows/New_Sample_Request_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Object_Type</name>
        <label>Get Object Type</label>
        <locationX>135</locationX>
        <locationY>413</locationY>
        <actionName>GetObjectType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_object_type</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetObjectType</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Product_records</name>
        <label>Get Product records</label>
        <locationX>1094</locationX>
        <locationY>287</locationY>
        <actionName>SampleFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_selected_products</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Product2</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldString</name>
            <value>
                <stringValue>Name,ProductCode,Description,Product_Image__c,QuantityUnitOfMeasure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idString</name>
            <value>
                <elementReference>Select_Products_from_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SampleFlowController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Custom_Sample</name>
        <label>Go to Custom Sample</label>
        <locationX>681</locationX>
        <locationY>711</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Insert_Custom_sample</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Standard_Sample_record</name>
        <label>Go to Standard Sample record</label>
        <locationX>572</locationX>
        <locationY>828</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Insert_new_sample</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Sample_Product_to_list</name>
        <label>Add Sample Product to list</label>
        <locationX>1077</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>recsSampleProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSampleProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varCurrentProdNumber}. {!loopProduct.Name} - {!loopSampleProduct.Quantity__c} {!loopProduct.QuantityUnitOfMeasure}&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Output_Sample_Products</name>
        <label>Add to Output Sample Products</label>
        <locationX>1087</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>outputSampleProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSampleProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QUoM_value</name>
        <label>Assign QUoM value</label>
        <locationX>1382</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>loopProduct.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_current_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_current_product</name>
        <label>Initialize current product</label>
        <locationX>1262</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>varTotalProductNum</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Product_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentProdNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Quantity_Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopProduct.QuantityUnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Product_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sample_Id_on_Sample_Products</name>
        <label>Set Sample Id on Sample Products</label>
        <locationX>1167</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_new_sample</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Sample_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_current_product</name>
        <label>Update current product</label>
        <locationX>1181</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopSampleProduct.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtProductComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Sample_Product_to_list</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceModify</name>
        <choiceText>Modify existing product</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceNewCustom</name>
        <choiceText>New - No spec supplied</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceNewToSpec</name>
        <choiceText>New - Customer spec</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>SamplingSalesManagerName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Elliot Executive</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Quantity_Unit_of_Measure_for_null_value</name>
        <label>Check Quantity Unit of Measure for null value</label>
        <locationX>1337</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Initialize_current_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QUoM is not null</defaultConnectorLabel>
        <rules>
            <name>QUoM_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopProduct.QuantityUnitOfMeasure</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QUoM_value</targetReference>
            </connector>
            <label>QUoM is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_product_standard_or_custom</name>
        <label>Is product standard or custom?</label>
        <locationX>667</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Products_yes_again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>IsCustom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Standard_or_Custom_Product</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Product</targetReference>
            </connector>
            <label>Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_products_found</name>
        <label>Opportunity products found?</label>
        <locationX>929</locationX>
        <locationY>143</locationY>
        <defaultConnector>
            <targetReference>No_Products_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, oppty products not found</defaultConnectorLabel>
        <rules>
            <name>Yes_oppty_products_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products_yes_again</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Product</targetReference>
            </connector>
            <label>Yes, oppty products found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_object_type</name>
        <label>Which object type</label>
        <locationX>103</locationX>
        <locationY>557</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>setOpptyLineItems</name>
        <dataType>String</dataType>
        <displayField>Product_Name_and_Code__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>setPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>setSampleTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_Type__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fmlaSampleName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Get_Account.Name} &amp;&quot; - Sample for &quot;&amp; {!Get_Opportunity.Name}&amp;&quot; (&quot;&amp; TEXT({!varTotalProductNum}) &amp;&quot; products)&quot;) &gt;= 80, {!Get_Account.Name} &amp;&quot; - new sample&quot; 
,{!Get_Account.Name} &amp;&quot; - Sample for &quot;&amp; {!Get_Opportunity.Name}&amp;&quot; (&quot;&amp; TEXT({!varTotalProductNum}) &amp;&quot; products)&quot;)</expression>
    </formulas>
    <formulas>
        <description>Sets Account Manager to current user</description>
        <name>SamplingAccountManager</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Set the SalesManager to External ID matching User 007 Elliott Executive</description>
        <name>SamplingSalesManager</name>
        <dataType>String</dataType>
        <expression>{!SamplingSalesManagerName}</expression>
    </formulas>
    <interviewLabel>New Sample Request flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Sample Request flow</label>
    <loops>
        <name>Loop_through_selected_products</name>
        <label>Loop through selected products</label>
        <locationX>1127</locationX>
        <locationY>454</locationY>
        <assignNextValueToReference>loopProduct</assignNextValueToReference>
        <collectionReference>Get_Product_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Quantity_Unit_of_Measure_for_null_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_and_Submit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_products_0</name>
        <label>Loop through selected products</label>
        <locationX>991</locationX>
        <locationY>827</locationY>
        <assignNextValueToReference>loopSampleProduct</assignNextValueToReference>
        <collectionReference>recsSampleProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Sample_Id_on_Sample_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Sample_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Custom_sample</name>
        <label>Insert Custom sample</label>
        <locationX>675</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Go_to_Custom_Sample</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>SamplingAccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Labor__c</field>
            <value>
                <numberValue>400.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Product__c</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Shipping__c</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Requested_By__c</field>
            <value>
                <elementReference>Date_Requested_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlaSampleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>SamplingSalesManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Type__c</field>
            <value>
                <elementReference>Standard_or_Custom_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Product Specification</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_new_sample</name>
        <label>Insert new sample</label>
        <locationX>888</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Loop_through_selected_products_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Labor__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Product__c</field>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Shipping__c</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Requested_By__c</field>
            <value>
                <elementReference>Date_Requested_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmlaSampleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Type__c</field>
            <value>
                <elementReference>Standard_or_Custom_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Sales Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Sample_Products</name>
        <label>Insert Sample Products</label>
        <locationX>818</locationX>
        <locationY>828</locationY>
        <connector>
            <targetReference>Go_to_Standard_Sample_record</targetReference>
        </connector>
        <inputReference>outputSampleProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>253</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sample</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>119</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products_yes_again</name>
        <label>Get Opportunity Products (yes, again)</label>
        <locationX>788</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_products_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>21</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExternalIDSalesManager</name>
        <label>GetExternalIDSalesManager</label>
        <locationX>736</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_Custom_sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elliot Executive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_and_Submit</name>
        <label>Confirm and Submit</label>
        <locationX>882</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insert_new_sample</targetReference>
        </connector>
        <fields>
            <name>displaySampleProds</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Confirm and Submit&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varTextProductList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Good news! Since this sample is for standard product(s) and shipping domestically, we can skip several rounds of approvals. Once your manager signs off, your sample will be on its way!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Sample</name>
        <label>Create Sample</label>
        <locationX>507</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_product_standard_or_custom</targetReference>
        </connector>
        <fields>
            <name>displayNewSampleRequest</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;New Sample Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lkupAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lkupOppty</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Standard_or_Custom_Product</name>
            <choiceReferences>setSampleTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Standard or Custom Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Requested_By</name>
            <dataType>Date</dataType>
            <fieldText>Date Requested By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>setPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>shippingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Custom_Product</name>
        <label>Custom Product</label>
        <locationX>562</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetExternalIDSalesManager</targetReference>
        </connector>
        <fields>
            <name>displayCustomProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Custom Product Sample Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtCustomProductDescription</name>
            <fieldText>Custom Product Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Product_Status</name>
            <choiceReferences>choiceModify</choiceReferences>
            <choiceReferences>choiceNewToSpec</choiceReferences>
            <choiceReferences>choiceNewCustom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Custom Product Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lkupProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Existing Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>choiceModify</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Custom_Product_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceModify</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>upldCustomerSpecs</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Customer Specs (if available)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Insert_new_sample</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Products_Found</name>
        <label>No Products Found</label>
        <locationX>1117</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayNoProductsFound</name>
            <fieldText>&lt;p&gt;In order to create a &quot;standard&quot; sample request, please start from an opportunity with product line items on it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Product_screen</name>
        <label>Selected Product screen</label>
        <locationX>1281</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_current_product</targetReference>
        </connector>
        <fields>
            <name>displaySelectedProduct</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Selected product {!varCurrentProdNumber} of {!varTotalProductNum}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿Product Name: &lt;/b&gt;{!loopProduct.Name}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Unit of Measure: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!loopProduct.QuantityUnitOfMeasure}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Description: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!loopProduct.Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!loopProduct.Product_Image__c}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Enter Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>txtProductComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Standard_Product</name>
        <label>Standard Product</label>
        <locationX>924</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Product_records</targetReference>
        </connector>
        <fields>
            <name>displayAddStandardProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Add Standard Products&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Products_from_Opportunity</name>
            <choiceReferences>setOpptyLineItems</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products from Opportunity</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Get_Object_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>loopProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>loopQuantityUnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopSampleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sample_Product__c</objectType>
    </variables>
    <variables>
        <name>outputSampleProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Sample_Product__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0065w0000249Nf7AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>recsSampleProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sample_Product__c</objectType>
    </variables>
    <variables>
        <name>varCurrentProdNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTextProductList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalProductNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
