flows/Opportunity_Next_Best_Action_for_Partners.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Case</name>
        <label>Navigate to Case</label>
        <locationX>1160</locationX>
        <locationY>570</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Create_Sales_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Navigates to created quote</description>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>916</locationX>
        <locationY>638</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check to see whether we can get the current user&apos;s contact ID.</description>
        <name>Check_for_Contact</name>
        <label>Check for Contact</label>
        <locationX>149</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>NoContactFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGetContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision based on the Opportunity Stage.</description>
        <name>Opportunity_Stage</name>
        <label>Opportunity Stage</label>
        <locationX>877</locationX>
        <locationY>89</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Stage</targetReference>
            </connector>
            <label>Qualification</label>
        </rules>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Stage</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Proposal_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_Quote_Stage</targetReference>
            </connector>
            <label>Proposal/Quote</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negotiation_Stage</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
    </decisions>
    <description>Used to suggest NBA to Partners in a Partner Community.</description>
    <dynamicChoiceSets>
        <name>OpportunityTypeValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Grabs the Contact Id for the running user.</description>
        <name>fCurrentContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <description>Retrieves the currently logged-in user&apos;s Salesforce ID.</description>
        <name>fGetCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity Next Best Action for Partners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Next Best Action for Partners</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>918</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Navigate_to_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <elementReference>Primary_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Case</name>
        <label>Create Sales Case</label>
        <locationX>1143</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Navigate_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>How_can_we_help_you</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Grabs the Contact Id from the logged in user.</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>503</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCurrentContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Opportunity Id from the NBA.</description>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>397</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contextRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Discovery_Opportunity</name>
        <label>Update Discovery Opportunity</label>
        <locationX>699</locationX>
        <locationY>546</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualification_Opportunity</name>
        <label>Update Qualification Opportunity</label>
        <locationX>569</locationX>
        <locationY>543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Budgeted__c</field>
            <value>
                <elementReference>Project_Budgeted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Discovery_Stage</name>
        <label>Discovery Stage</label>
        <locationX>703</locationX>
        <locationY>373</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Discovery_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Discoverytxt</name>
            <fieldText>&lt;p&gt;Please ensure you have included any discovery notes and highlight next steps for this opportunity. Happy selling!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Negotiation_Stage</name>
        <label>Negotiation Stage</label>
        <locationX>1129</locationX>
        <locationY>319</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sales_Case</targetReference>
        </connector>
        <fields>
            <name>How_can_we_help_you</name>
            <dataType>String</dataType>
            <fieldText>How can we help you?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoContactFound</name>
        <label>No Contact Found</label>
        <locationX>160</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContactFoundtxt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;We&apos;re Sorry&lt;/b&gt;&lt;/p&gt;&lt;p&gt;We cannot find a partner record for you. Please log in as a partner to see suggested actions&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proposal_Quote_Stage</name>
        <label>Proposal/Quote Stage</label>
        <locationX>910</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>Primary_Quote</name>
            <dataType>Boolean</dataType>
            <fieldText>Primary Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subscription_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Subscription Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualification_Stage</name>
        <label>Qualification Stage</label>
        <locationX>567</locationX>
        <locationY>324</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Qualification_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Qualificationtxt</name>
            <fieldText>&lt;p&gt;Let&apos;s ensure we have the correct information on this opportunity. Please fill out or update the fields below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>OpportunityTypeValue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Budgeted</name>
            <dataType>Boolean</dataType>
            <fieldText>Project Budgeted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Check_for_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Hold the Opportunity ID from the NBA.</description>
        <name>contextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID of the currently logged in user.</description>
        <name>vCurrentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>fGetCurrentUserId</elementReference>
        </value>
    </variables>
    <variables>
        <name>vGetContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>fCurrentContactId</elementReference>
        </value>
    </variables>
</Flow>
