flows/Purchase_Order_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Purchase_order_file</name>
        <label>Parse Purchase order file</label>
        <locationX>764</locationX>
        <locationY>78</locationY>
        <actionName>ImportPurchaseOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Content_Version</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>conDocId</name>
            <value>
                <elementReference>Loop_through_Content_Version</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ImportPurchaseOrder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_For_Price_Book_Entry_ID</name>
        <label>Check For Price Book Entry ID</label>
        <locationX>908</locationX>
        <locationY>760</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Price_Book_Entry_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PricebookEntry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Error_Flow_Error</targetReference>
            </connector>
            <label>No Price Book Entry ID</label>
        </rules>
        <rules>
            <name>Price_Book_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PricebookEntry.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_lines</targetReference>
            </connector>
            <label>Price Book Entry Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Purchase Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Flow</label>
    <loops>
        <name>Loop_through_Content_Version</name>
        <label>Loop through Content Version IDs</label>
        <locationX>767</locationX>
        <locationY>256</locationY>
        <collectionReference>upload_files.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parse_Purchase_order_file</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Getting_Sales_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Purchase_order_lines</name>
        <label>Loop through Purchase order lines</label>
        <locationX>871</locationX>
        <locationY>434</locationY>
        <collectionReference>Get_Purchase_Order_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create_Order</label>
        <locationX>1222</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Get_Purchase_Order_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Getting_Sales_Agreement.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>PO_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoDate</field>
            <value>
                <elementReference>PO_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>Please_Enter_PO_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Getting_Sales_Agreement.PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesAgreementId</field>
            <value>
                <elementReference>Sales_Agreement_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_lines</name>
        <label>Create Order lines</label>
        <locationX>806</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_through_Purchase_order_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop_through_Purchase_order_lines.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_through_Purchase_order_lines.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>Loop_through_Purchase_order_lines.Total_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop_through_Purchase_order_lines.List_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Po_Creation</name>
        <label>Po Creation</label>
        <locationX>350</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Please_Upload_the_PO_File</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Please_Enter_PO_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Date__c</field>
            <value>
                <elementReference>PO_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Agreement__c</field>
            <value>
                <elementReference>Sales_Agreement_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PricebookEntry</name>
        <label>Get PricebookEntry</label>
        <locationX>1022</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Price_Book_Entry_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Purchase_order_lines.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Sales_Agreement.PricebookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_lines</name>
        <label>Get Purchase Order lines</label>
        <locationX>1189</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Purchase_order_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Po_Creation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order_Lines__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Sales_Agreement</name>
        <label>Getting Sales Agreement</label>
        <locationX>992</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Agreement_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Please_Upload_the_PO_File</name>
        <label>Please Upload the PO File</label>
        <locationX>626</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Content_Version</targetReference>
        </connector>
        <fields>
            <name>upload_files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload PO file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv,.xls,.xlsx,</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadedFileIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Po_Creation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Please upload PO file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>VersionID_lst</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_Order</name>
        <label>Purchase Order</label>
        <locationX>177</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Po_Creation</targetReference>
        </connector>
        <fields>
            <name>Please_Enter_PO_Name</name>
            <dataType>String</dataType>
            <fieldText>Please Enter PO Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Date</name>
            <dataType>Date</dataType>
            <fieldText>PO  Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SE_Error_Flow_Error</name>
        <label>SE Error Flow Error</label>
        <locationX>916</locationX>
        <locationY>988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SECSVError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 14, 6);&quot;&gt;!! There is an error with your CSV file !!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;SE&apos;s Please Note:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;Products in your .csv file must have Price Book Entries in the Price Book that is selected on the Sales Agreement&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7);&quot;&gt;Product Names in your .csv file must not include any special characters. Only use Product Names that include numbers and letters&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please update your .csv file accordingly and repeat the demo steps&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reminder on columns for .csv file&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Columns that are used to populate fields on the Order Lines are:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Description - Product Name&lt;/p&gt;&lt;p&gt;Qty - Qty&lt;/p&gt;&lt;p&gt;Sales Price - Sales Price&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Columns that are not used to populate fields but MUST be present in the file for the Flow APEX Action to work are:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Po Number - Any value&lt;/p&gt;&lt;p&gt;Item Number - Any value&lt;/p&gt;&lt;p&gt;Total Price - Any value&lt;/p&gt;&lt;p&gt;Date - Any value&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Also note:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sales Agreement &quot;Status&quot; field = &quot;Activated&quot; for Flow to work&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please see Demo Script for more details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;https://salesforce.quip.com/XhdeABIpDOUi#temp:C:dMf705b72dffac842548360f4936&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_Screen</name>
        <label>success Screen</label>
        <locationX>534</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(65, 179, 63);&quot;&gt;Success !! Your CSV got parsed then Purchase order and lines got created and lastly your order got submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Purchase_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Sales_Agreement_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VersionID_lst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
