flows/Quip_Copy_Quip_Templates_to_Connected_QDO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_Template</name>
        <label>Copy Template</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>copyQuipDocumentNotFound</actionName>
        <connector>
            <targetReference>Loop_thru_Template_URLs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <elementReference>Loop_thru_Template_URLs.Quip_Template_URL_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <elementReference>QuipFolderURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Quip_Demo_Templates_Folder</name>
        <label>Create Quip Demo Templates Folder</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>createQuipFolderNotFound</actionName>
        <connector>
            <targetReference>Get_Quip_Demo_Templates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>color</name>
            <value>
                <stringValue>red</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderTitle</name>
            <value>
                <stringValue>Quip Demo Templates</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>QuipFolderURL</assignToReference>
            <name>folderId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Flow to copy Quip templates to the new Quip Demo Org connected to the MFG IDO. Includes Sales Playbooks on Lead, Account Plan, and Partner Account Plan.</description>
    <interviewLabel>Quip - Copy Quip Templates to Connected QDO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quip - Copy Quip Templates to Connected QDO</label>
    <loops>
        <name>Loop_thru_Template_URLs</name>
        <label>Loop thru Template URLs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Quip_Demo_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quip_Demo_Templates</name>
        <label>Get Quip Demo Templates</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Template_URLs</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quip_Demo_Template__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Quip_Demo_Templates_Folder</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>QuipFolderURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
