flows/Retrieve_Previous_Agreement_Actuals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order_Effective_Date</name>
        <label>Get Order Effective Date</label>
        <locationX>458</locationX>
        <locationY>722</locationY>
        <actionName>OrderStartDateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateOrderItems</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oldOrderDate</name>
            <value>
                <elementReference>var_loopOrders.EffectiveDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saEndDate</name>
            <value>
                <elementReference>getSalesAgreements.EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saStartDate</name>
            <value>
                <elementReference>getSalesAgreements.StartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderStartDateController</nameSegment>
        <outputParameters>
            <assignToReference>NewOrderItem.EffectiveDate</assignToReference>
            <name>newOrderDate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Actuals</name>
        <label>Refresh Actuals</label>
        <locationX>1042</locationX>
        <locationY>357</locationY>
        <actionName>refreshActualsCalculation</actionName>
        <actionType>refreshActualsCalculation</actionType>
        <connector>
            <targetReference>Check_Manual_API</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCurrentSchedule</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesAgreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>getSalesAgreements.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>refreshActualsCalculation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>reloadPage</name>
        <label>reloadPage</label>
        <locationX>1586</locationX>
        <locationY>692</locationY>
        <actionName>c:redirect</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Error_MSG</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>reloadPage2</name>
        <label>reloadPage2</label>
        <locationX>1225</locationX>
        <locationY>536</locationY>
        <actionName>c:redirect</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Decision_to_Rewind_or_Dismiss</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Replace_API_Actuals</name>
        <label>Replace API Actuals</label>
        <locationX>1328</locationX>
        <locationY>204</locationY>
        <actionName>CloneSalesAgreementActuals</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refresh_Actuals</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newSAId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldSAId</name>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CloneSalesAgreementActuals</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actuals_Rewind_Assignment</name>
        <label>Actuals Rewind Assignment</label>
        <locationX>944</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_Actuals_rewind</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_Actuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderInfotoTxt</name>
        <label>AssignOrderInfotoTxt</label>
        <locationX>472</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>var_OrderName_txt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;{!var_loopOrders.OrderNumber}&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Effective_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrderItems</name>
        <label>UpdateOrderItems</label>
        <locationX>306</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>NewOrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_loopOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderItem.SalesAgreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderItem.EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrdersCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrdersCollection</name>
        <label>UpdateOrdersCollection</label>
        <locationX>256</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>OrderCollectiontoBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOrders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Manual_API</name>
        <label>Check Manual API</label>
        <locationX>1348</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Demo_Rewind_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculation_mode_is_set_to_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSalesAgreements.ActualsCalculationMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Agreement</targetReference>
            </connector>
            <label>Calculation mode is set to Manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_Cancel_previous_Agreement</name>
        <label>Dec Cancel previous Agreement</label>
        <locationX>762</locationX>
        <locationY>95</locationY>
        <defaultConnector>
            <targetReference>Determine_Actuals_Calculation_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_Previous_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancel_Previous_Agreement</targetReference>
            </connector>
            <label>Yes Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Rewind_or_Dismiss</name>
        <label>Decision to Rewind or Dismiss</label>
        <locationX>1194</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>Error_MSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rewind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clickedButtonValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rewind</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Orders_to_Be_updated_for_rewind</targetReference>
            </connector>
            <label>Rewind</label>
        </rules>
        <rules>
            <name>Dismiss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clickedButtonValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dismiss</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Agreement</targetReference>
            </connector>
            <label>Dismiss</label>
        </rules>
        <rules>
            <name>Rewind_Dismiss_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clickedButtonValue</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Agreement</targetReference>
            </connector>
            <label>Rewind-Dismiss-Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Actuals_Calculation_Mode</name>
        <label>Determine Actuals Calculation Mode</label>
        <locationX>735</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Using_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSalesAgreements.ActualsCalculationMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_API_Actuals</targetReference>
            </connector>
            <label>Using API</label>
        </rules>
        <rules>
            <name>Using_Orders_Actuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSalesAgreements.ActualsCalculationMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Orders</targetReference>
            </connector>
            <label>Using Orders Actuals</label>
        </rules>
    </decisions>
    <description>added apex action for order end date to August&apos;s updated flow</description>
    <formulas>
        <name>dateCalc_num</name>
        <dataType>Number</dataType>
        <expression>MONTH({!getSalesAgreements.StartDate})-MONTH({!var_loopOrders.EffectiveDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewOrderStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(Year({!getSalesAgreements.StartDate}),MONTH({!var_loopOrders.EffectiveDate}),DAY({!var_loopOrders.EffectiveDate}))</expression>
    </formulas>
    <interviewLabel>Retrieve Previous Agreement Actuals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retrieve Previous Agreement Actuals</label>
    <loops>
        <name>loopOrders</name>
        <label>loopOrders</label>
        <locationX>255</locationX>
        <locationY>496</locationY>
        <assignNextValueToReference>var_loopOrders</assignNextValueToReference>
        <collectionReference>get_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOrderInfotoTxt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Retrieve_Actuals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Orders</name>
        <label>get Orders</label>
        <locationX>243</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOrders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPreviousSalesAgreement</name>
        <label>getPreviousSalesAgreement</label>
        <locationX>443</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Actuals_from_Orders_or_API</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesAgreements</name>
        <label>getSalesAgreements</label>
        <locationX>342</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPreviousSalesAgreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PreviousID__c</queriedFields>
        <queriedFields>ActualsCalculationMode</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Orders_to_Be_updated</name>
        <label>Deactivate Orders to Be updated</label>
        <locationX>614</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>UpdateOrderswithNewData</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Orders_to_Be_updated_for_rewind</name>
        <label>Deactivate Orders to Be updated for rewind</label>
        <locationX>947</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>Update_Orders_to_Previous_Sales_Agreement_Rewind</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancel_Previous_Agreement</name>
        <label>Update Cancel Previous Agreement</label>
        <locationX>960</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>Determine_Actuals_Calculation_Mode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders_to_new_Agreements</name>
        <label>Update Orders to new Agreements</label>
        <locationX>773</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Refresh_Actuals</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orders_to_Previous_Sales_Agreement_Rewind</name>
        <label>Update Orders to Previous Sales Agreement Rewind</label>
        <locationX>952</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Actuals_Rewind_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SalesAgreementId</field>
            <value>
                <elementReference>getSalesAgreements.PreviousID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Agreement</name>
        <label>Update Sales Agreement</label>
        <locationX>1476</locationX>
        <locationY>692</locationY>
        <connector>
            <targetReference>reloadPage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actuals_Retrieved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SalesAgreement</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderswithNewData</name>
        <label>UpdateOrderswithNewData</label>
        <locationX>587</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Update_Orders_to_new_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_MSG</targetReference>
        </faultConnector>
        <inputReference>OrderCollectiontoBeUpdated</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Demo_Rewind_Screen</name>
        <label>Demo Rewind Screen</label>
        <locationX>1112</locationX>
        <locationY>459</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>reloadPage2</targetReference>
        </connector>
        <fields>
            <name>rewindOrders</name>
            <extensionName>c:rewindOrders</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>clickedButtonValue</assignToReference>
                <name>clickedButtonValue</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_MSG</name>
        <label>Error MSG</label>
        <locationX>1411</locationX>
        <locationY>19</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Actuals</name>
        <label>Retrieve Actuals</label>
        <locationX>487</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deactivate_Orders_to_Be_updated</targetReference>
        </connector>
        <fields>
            <name>Order_Info_display_txt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Below is a list Orders that will be reassigned from &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Previous Sales Agreement: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getPreviousSalesAgreement.Name} to &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Current Agreement:&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getSalesAgreements.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hr4</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>dashed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>hsl(120, 100%, 40%)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reassigned_Orders_display_txt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Orders:&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!var_OrderName_txt}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hr5</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>hsl(120, 100%, 40%)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>dashed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>proceed</name>
            <dataType>Boolean</dataType>
            <fieldText>Rewind is possible but proceed with caution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Actuals_from_Orders_or_API</name>
        <label>Retrieve Previous Actuals from Orders or API</label>
        <locationX>612</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dec_Cancel_previous_Agreement</targetReference>
        </connector>
        <fields>
            <name>show_flow_instructions_toogle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Display Instructions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>start_Screen_Display_txt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;What happens in this flow process?&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;This flow retrieves  the  actuals from the Sales Agreement this Agreement was cloned from based on the calculation modes, Direct from Orders or Manually API.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Considerations:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This process should be considered a one-time operation but can be undone for Demos when using Calculation mode of Direct Orders.&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Both this agreement and the previous agreement (the one this was cloned from) will count in the forecast if you chose not to select &quot;cancel agreement&quot; in the clone process initially. &lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>show_flow_instructions_toogle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hr0</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>rgb(0, 153, 204)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>solid</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Previous_SalesAgreement_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Previous Agreement Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Name:{!getPreviousSalesAgreement.Name}&lt;/p&gt;&lt;p&gt;Start Date:{!getPreviousSalesAgreement.StartDate}&lt;/p&gt;&lt;p&gt;End Date:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!getPreviousSalesAgreement.EndDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Status: {!getPreviousSalesAgreement.Status}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel_Previous_Agreement</name>
            <dataType>Boolean</dataType>
            <fieldText>Cancel Previous Agreement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getPreviousSalesAgreement.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hr1</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>gray</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>solid</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Current_SalesAgreement_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Current Agreement Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Name: {!getSalesAgreements.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Calculation Mode:{!getSalesAgreements.ActualsCalculationMode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hr3</name>
            <extensionName>c:horizontalRule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hrColor</name>
                <value>
                    <stringValue>rgb(0, 153, 204)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrStyle</name>
                <value>
                    <stringValue>solid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hrSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getSalesAgreements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clickedButtonValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderCollectiontoBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;style&gt;  .slds-m-bottom_large  {border-style: solid;  }  &lt;/style&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Actuals_rewind</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_loopOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>var_Order_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OrderName_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OrderNumber_int</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
