flows/SDO_Service_Close_All_Records_Based_on_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assignment_of_Cases_to_be_Clsoed</name>
        <label>Assignment of Cases to be Clsoed</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>newCaseToBeClosed.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseToBeClosed.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allCasesToBeClosed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseToBeClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Cases</name>
        <label>Check for Cases</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No Cases</defaultConnectorLabel>
        <rules>
            <name>Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cases</targetReference>
            </connector>
            <label>Cases</label>
        </rules>
    </decisions>
    <description>When the Change Request is closed, this flow goes and closes the associated Problem, Incidet, and associated Cases.</description>
    <interviewLabel>Close All Records Based on Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close All Records Based on Change</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_All_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_Cases_to_be_Clsoed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCasestoClosed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cases</name>
        <label>Get All Cases</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ID_of_Incident.IssueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ID_of_Incident</name>
        <label>Get ID of Incident</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ID_of_Linked_Problem.RelatedIssueId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProblemIncident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ID_of_Linked_Problem</name>
        <label>Get ID of Linked Problem</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Incident</name>
        <label>Close Incident</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_All_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ID_of_Incident.IssueId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Problem</name>
        <label>Close Problem</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_ID_of_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ID_of_Linked_Problem.RelatedIssueId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Problem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCasestoClosed</name>
        <label>Update Cases to Closed</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <inputReference>allCasesToBeClosed</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ID_of_Linked_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>ChangeRequest</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allCasesToBeClosed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newCaseToBeClosed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
