flows/SDO_Service_Create_Incident_for_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Create_Case_Related_Issue_and_Add_to_Collection</name>
        <label>Create Case Related Issue and Add to Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>newCaseRelatedIssue.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseRelatedIssue.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Incident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseRelatedIssue.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseRelatedIssue.RelatedEntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allNewCaseRelatedIssues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCaseRelatedIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtain_Case_Record_Count</name>
        <label>Obtain Case Record Count</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>caseCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Count_Greater_Than_10</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Count_Greater_Than_10</name>
        <label>Case Count Greater Than 10</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>caseCounter &lt; 10</defaultConnectorLabel>
        <rules>
            <name>caseCounter_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Incident</targetReference>
            </connector>
            <label>caseCounter &gt;= 10</label>
        </rules>
    </decisions>
    <description>This flow is designed to fire when the 10th case is created meeting the criteria outlined. The criteria can be changed based on your use case or needs.</description>
    <interviewLabel>Create Incident for Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Incident for Cases</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Case_Related_Issue_and_Add_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bulk_Create_New_Case_Issues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Bulk_Create_New_Case_Issues</name>
        <label>Bulk Create New Case Issues</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>allNewCaseRelatedIssues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Multiple cases around Jarrus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportedMethod</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubCategory</field>
            <value>
                <stringValue>Jarrus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Issues with Jarrus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtain_Case_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Jarrus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Jarrus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Jarrus</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allNewCaseRelatedIssues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>caseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newCaseRelatedIssue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
</Flow>
