flows/Send_Redemption_Survey_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Invitation</name>
        <label>Send Survey Invitation</label>
        <locationX>968</locationX>
        <locationY>395</locationY>
        <actionName>loyalty_redemption_survey</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <connector>
            <targetReference>Update_Loyalty_Program_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <elementReference>TransactionJournalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>loyalty_redemption_survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>677</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Survey_Wrapper_Class_List.contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransactionJournalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Survey_Wrapper_Class_List.transactionJournalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Survey_Invitation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Survey_Active</name>
        <label>Check Survey Active</label>
        <locationX>168</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Record.ActiveVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Survey_Wrapper_Class_List</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <interviewLabel>Send Redemption Survey Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Redemption Survey Email</label>
    <loops>
        <name>Iterate_Survey_Wrapper_Class_List</name>
        <label>Iterate Survey Wrapper Class List</label>
        <locationX>397</locationX>
        <locationY>415</locationY>
        <collectionReference>surveyWrapperClassList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Record</name>
        <label>Get Survey Record</label>
        <locationX>176</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Survey_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>loyalty_redemption_survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loyalty_Program_Member</name>
        <label>Update Loyalty Program Member</label>
        <locationX>682</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Iterate_Survey_Wrapper_Class_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Survey_Email_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMember</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Survey_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SurveySubjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>surveyWrapperClassList</name>
        <apexClass>RedemptionSurveyWrapperClass</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
