flows/test_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>differnt_dates</name>
        <label>differnt dates</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_orders_txt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_found_orders.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrder</name>
        <label>UpdateOrder</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NewOrderItem.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddSAyeartoordersdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_found_orders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOrders</name>
        <label>UpdateOrders</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ordercollectiontobeupdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_found_orders</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>AddSAYearToOrder</name>
        <dataType>Number</dataType>
        <expression>YEAR({!get_SA.StartDate})+MONTH({!loop_found_orders.EffectiveDate})+DAY({!loop_found_orders.EffectiveDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AddSAyeartoordersdate</name>
        <dataType>Date</dataType>
        <expression>DATE(Year({!get_SA.StartDate}),MONTH({!loop_found_orders.EffectiveDate}),Day({!loop_found_orders.EffectiveDate}))</expression>
    </formulas>
    <interviewLabel>test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test flow</label>
    <loops>
        <name>loop_found_orders</name>
        <label>loop found orders</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>get_order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>differnt_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_order</name>
        <label>get order</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_found_orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SA.PreviousID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA</name>
        <label>get SA</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PreviousID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptext</name>
            <fieldText>&lt;p&gt;hi&lt;/p&gt;&lt;p&gt;{!var_orders_txt}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newDate_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>ordercollectiontobeupdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_orders_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
