flows/Update_Account_Forecast.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account_Product_Period_Forecast_Values</name>
        <label>Assign Account Product Period Forecast Values</label>
        <locationX>297</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>AccountProductPeriodForecastUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAccountProductPeriodForecastId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountProductPeriodForecastUpdate.AdjustedForecastedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forecasted_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountProductPeriodForecastUpdate.AdjustmentComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Product_Period_Forecast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Adjusted_Forecasted_Quantity</name>
        <label>Assigned Adjusted Forecasted Quantity</label>
        <locationX>522</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>UpdateForecastedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAdjustedForecastedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Forecast_Adjustment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Adjustment</name>
        <label>No Adjustment</label>
        <locationX>747</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>UpdateForecastedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedForecastedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Forecast_Adjustment_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Has_Forecast</name>
        <label>Account Has Forecast?</label>
        <locationX>519</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>No_Account_Forecast_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Forecast</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Product_Choice</targetReference>
            </connector>
            <label>Has Forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Adjustment</name>
        <label>Existing Adjustment?</label>
        <locationX>741</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>No_Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Adjustment Exists</defaultConnectorLabel>
        <rules>
            <name>Adjustment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAdjustedForecastedQuantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Adjusted_Forecasted_Quantity</targetReference>
            </connector>
            <label>Adjustment Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountProductForecastChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountForecastId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Forecast.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountProductForecast</object>
        <outputAssignments>
            <assignToReference>SelectedAccountProductForecastId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountProductPeriodForecastChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountProductForecastId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountProductForecastId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>AccountProductPeriodForecast</object>
        <outputAssignments>
            <assignToReference>SelectedAdjustedForecastedQuantity</assignToReference>
            <field>AdjustedForecastedQuantity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedForecastedQuantity</assignToReference>
            <field>ForecastedQuantity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedAccountProductPeriodForecastId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Account Forecast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Forecast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Forecast</name>
        <label>Get Account Forecast</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Has_Forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountForecast</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Product_Period_Forecast</name>
        <label>Update Account Product Period Forecast</label>
        <locationX>87</locationX>
        <locationY>599</locationY>
        <inputReference>AccountProductPeriodForecastUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Forecast_Adjustment_Screen</name>
        <label>Forecast Adjustment Screen</label>
        <locationX>522</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Product_Period_Forecast_Values</targetReference>
        </connector>
        <fields>
            <name>Forecasted_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>UpdateForecastedQuantity</elementReference>
            </defaultValue>
            <fieldText>Forecasted Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Adjustment_Comments</name>
            <fieldText>Adjustment Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Account_Forecast_Screen</name>
        <label>No Account Forecast Screen</label>
        <locationX>752</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoForecastMessage</name>
            <fieldText>&lt;p&gt;No Active Account Forecast found for {!Get_Account_Record.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Period</name>
        <label>Select Period</label>
        <locationX>750</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Adjustment</targetReference>
        </connector>
        <fields>
            <name>Screen2InformationHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Account_Record.Name} Forecast Update (Select Period)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Period_Picklist</name>
            <choiceReferences>AccountProductPeriodForecastChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Period</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Choice</name>
        <label>Select Product</label>
        <locationX>529</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Period</targetReference>
        </connector>
        <fields>
            <name>Screen1InformationHeader</name>
            <fieldText>&lt;p&gt;{!Get_Account_Record.Name} Forecast Update (Select Product)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Product</name>
            <choiceReferences>AccountProductForecastChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountProductPeriodForecastUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountProductPeriodForecast</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountProductForecastId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountProductPeriodForecastId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAdjustedForecastedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SelectedForecastedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdateForecastedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
